.wrapper_main_page .ul {
  padding-left: 0;
  background-color: #4F4F4F;
}

.wrapper_main_page .li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 97%;
  outline: none;
  padding-left: 16px;
  border-radius: 4px;
  padding-right: 16px;
  color: white;
  margin-top: 10px;
}

.time_now {
  display: flex;
  align-items: center;
}

.project_name {
  margin-left: 3%;
}

.time_container_history {
  display: flex;
  align-items: center;
}
.small_play {
  margin-top: -2px;
  width: 15px;
  height: 15px;
  background: url("../../images/icons/small_play.svg") no-repeat center;
  cursor: pointer;
}

.cancel {
  margin-top: -2px;
  margin-left: 18px;
  width: 15px;
  height: 15px;
  background: url("../../images/icons/cancel.svg") no-repeat center;
  cursor: pointer;
}

.name_container {
  display: flex;
  align-items: center;
}

.timePassed {
  margin-left: 14px ;
}

.small_play {
  margin-left: 18px;
}
