.invoice-action-dropdown__wrapper {
  position: absolute;
  right: -6px;
}
.invoice-action-dropdown {
  position: relative;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0.3rem;
  color: #333333;
  // min-width: 170px;
  padding: 1.8rem;
  z-index: 8;

  &__icon-arrow {
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: white;
    top: -1px;
    right: 9px;
    transform: rotate(45deg);
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 1.4rem;
    cursor: pointer;

    &:hover {
      color: #27ae60;
      .invoice-action-dropdown__item-icon.copy-icon path {
        stroke: #27ae60;
      }
      .invoice-action-dropdown__item-icon.action-icon path {
        stroke: #27ae60;
      }
      .invoice-action-dropdown__item-icon circle {
        stroke: #27ae60;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &-icon-block {
      width: 2rem;
      height: 2rem;
      display: flex;
      justify-content: center;
      margin-right: 0.8rem;
      path {
        stroke: #333333;
      }
    }
    &-icon {
      height: 2rem;
      width: 2rem;
      transition: all 0.1s linear;
      path {
        stroke: #333333;
      }
      circle {
        stroke: #333333;
      }
    }
    &-icon.copy-icon {
      transition: all 0.1s linear;
      path {
        stroke: #333333;
      }
    }
    &-text {
      white-space: nowrap;
      font-size: 12px;
      line-height: 16px;
      transition: all 0.1s linear;
    }
  }
}
