.wrapper_create_team_modal {
    z-index: 1;
}

.create_team_modal_background {
    position: fixed;
    background-color: rgba(89, 89, 89, 0.5);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 5;
    cursor: default;
}

.create_team_modal_container {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 945px;
    z-index: 5;
    background: #ffffff;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: default;
}

.create_team_modal_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid #bdbdbd;
    height: 63px;
}

.create_team_modal_header_title {
    font-family: "Open Sans", sans-serif;
    line-height: normal;
    font-size: 16px;
    color: #000000;
    font-weight: 600;
}

.create_team_modal_header_close {
    display: block;
    width: 24px;
    height: 24px;
    background: url("../../images/icons/forbidden-mark.svg") no-repeat center;
    cursor: pointer;
}

.create_team_modal_data {
    padding: 0 20px;
}

.create_team_modal_data .create_team_modal_data_input_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 28px;
}

.create_team_modal_data .create_team_modal_data_input_container input {
    padding-left: 16px;
    width: 100%;
    height: 47px;
    border: 1px solid #828282;
    border-radius: 4px;
    text-transform: none;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    color: #4f4f4f;
}

.create_team_modal_data
    .create_team_modal_data_input_container
    input::-webkit-input-placeholder {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    color: #4f4f4f;
}

.create_team_modal_data
    .create_team_modal_data_input_container
    input::-moz-placeholder {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    color: #4f4f4f;
}

.create_team_modal_data
    .create_team_modal_data_input_container
    input:-moz-placeholder {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    color: #4f4f4f;
}

.create_team_modal_data
    .create_team_modal_data_input_container
    input:-ms-input-placeholder {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    color: #4f4f4f;
}

.create_team_modal_data .circle {
    width: 23px;
    height: 23px;
    border-radius: 50%;
}

.create_team_modal_data .create_team_modal_data_select_container {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 80px;
    height: 49px;
    margin-left: -1px;
    border: 1px solid #828282;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.create_team_modal_data_select_container .select_list {
    background: white;
    border: 1px solid #828282;
    width: 90px;
    position: absolute;
    top: 45px;
    left: -1px;
    border-bottom-right-radius: 4px;
}

.create_team_modal_data_select_container .select_list .item {
    cursor: pointer;
    padding: 10px;
}

.create_team_modal_data_select_container .select_list .item:hover {
    background-color: #cecece;
}

.create_team_modal_data .green {
    background-color: green;
}

.create_team_modal_data .red {
    background-color: red;
}

.create_team_modal_data .blue {
    background-color: blue;
}

.create_team_modal_data .pink {
    background-color: pink;
}

.create_team_modal_button_container {
    margin-top: 28px;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 19px;
}

.create_team_modal_button_container_button {
    width: 177px;
    height: 41px;
    margin-right: 20px;
    border: 0;
    background-color: #27ae60;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    color: #ffffff;
    border-radius: 0;
    cursor: pointer;
}

.create_team_modal_container i.vector {
    width: 24px;
    height: 24px;
    margin-left: 5px;
    background: url("../../images/icons/Vector.svg") no-repeat center;
}
