.wrapper-invoices-page {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  position: relative;
  margin-bottom: 6px;
  .cat-wrapper {
    position: absolute;
    top: 250%;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .invoices-page-top {
    padding: 25px 40px 0;
    &__last-invoices {
      margin-top: 34px;
      margin-bottom: 34px;
    }
    &__totals {
      display: flex;
      width: 100%;
    }
    .header-wrapper__child {
      display: flex;
      align-items: center;
    }
    &__search-input {
      width: 300px;
      margin-right: 3rem;
      @media screen and (max-width: 768px) {
        width: 100%;
        margin: 0;
        background: #4f4f4f;
        padding: 1rem 1.2rem;
        margin-bottom: 1.4rem;
      }
    }
  }
  @media screen and (max-width: 600px) {
    .invoices-page-top {
      padding: 10px 15px 0;
    }
  }

  .invoices-page-bottom {
    padding: 0 40px 40px;

    &__title {
      padding: 0 40px;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      text-transform: uppercase;
    }
  }
  @media screen and (max-width: 600px) {
    .invoices-page-bottom {
      padding: 0 10px 10px 10px;
    }
  }
  @media screen and (max-width: 375px) {
    .invoices-page-bottom {
      padding: 0 0 10px;
    }
  }
  .blank-invoice {
    height: 75%;
    width: 75%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
