.last-invoices-list {
  width: 100%;

  &--not-full {
    justify-content: space-around;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    height: 185px;
    @media (max-width: 768px) {
      height: auto;
    }
    @media (max-width: 576px) {
      flex-direction: column;
    }
  }

  &__title {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
  }

  .last-invoices-list-item {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: calc(100% / 4 - 15px);
    height: fit-content;
    padding: 16px;
    background: #3f3f3f;
    border-radius: 4px;
    color: #ffffff;
    text-decoration: none;
    @media (max-width: 768px) {
      width: calc(100% / 2 - 10px);
      margin-right: 0;
      &:nth-child(1) {
        margin-bottom: 20px;
      }
      &:nth-child(2) {
        margin-bottom: 20px;
      }
      &:nth-child(odd) {
        margin-right: 20px;
      }
    }
    @media (max-width: 576px) {
      width: 100%;
      margin-bottom: 20px;
      &:nth-child(odd) {
        margin-right: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }

    &--hover,
    &--fixed {
      .last-invoices-list-item__date {
        display: none;
      }
      .last-invoices-list-item__instruments {
        display: block;
      }
      .last-invoices-list-item__confirm-button {
        display: block;
      }
    }
    &--confirmed {
      background: #27ae60;
    }
    &--overdue {
      background: #eb5757;
    }
    &--draft {
      background: #626262;
    }
    &--awaiting {
      background: rgb(255, 174, 0);
    }
    &--reviewed {
      background: #299bc1;
    }
    &:last-child {
      margin-right: 0;
    }

    .tool-tip {
      background-color: #ffffff;
      color: #333333;
      padding: 5px 10px;
      white-space: nowrap;
    }

    &__top {
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__status-wrap {
      display: flex;
      align-items: center;
    }

    &__number {
      margin-left: 7px;
      font-size: 14px;
      line-height: 19px;
      color: #ffffff;
    }

    &__date {
      font-size: 14px;
      line-height: 19px;
      color: #ffffff;
    }

    &__instruments {
      display: none;
      width: 80px;
    }

    &__name {
      height: 30px;
      margin-top: 16px;
      padding-bottom: 10px;
      font-weight: bold;
      font-size: 14px;
      line-height: 19px;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border-bottom: 1px solid #555555;
    }

    &__bottom {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__total-price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
    }

    &__total {
      font-size: 14px;
      line-height: 25px;
    }

    &__price {
      margin-left: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      text-transform: uppercase;

      &-number {
        white-space: nowrap;
      }
    }

    &__confirm-button {
      height: 40px;
      width: 100%;
      max-width: 190px;
      display: none;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 14px;
      line-height: 19px;
      color: #ffffff;
      background: #27ae60;
      border-radius: 4px;
      outline: none;
      cursor: pointer;
      margin-top: 8px;
    }
  }
}
