.team-role-access {
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;

  &_select {
    width: 135px;
    position: relative;
    padding: 1rem 2rem 1rem 0;
    border-radius: 0.4rem;
    font-size: 18px;
    line-height: 2.2rem;
    color: #ffffff;
    cursor: pointer;
  }

  &__list {
    position: absolute;
    z-index: 15;
    width: auto;
    right: 0;
    top: 100%;
    background: #27292a;
    box-shadow: 2px 2px 4px black;
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
  }

  &__list-item {
    padding: 5px 10px;
    color: white;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      background-color: #e0e0e0;
      color: #333333;
    }
  }

  &__icon-arrow {
    position: absolute;
    top: calc(50% - 1rem);
    right: 10px;
    height: 21px;
    width: 11px;
    background: url("../../images/icons/arrow-down.svg") no-repeat center;
    transition: all 0.3s;
    cursor: pointer;

    &_up {
      transform: rotate(-180deg);
    }
  }
}
