.clients_list_wrapper {
  border-radius: 0.4rem;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  top: 110%;
  left: 0;
  /* max-height: 200px; */
  width: 100%;
  margin-top: 35px;
  background: #ffffff;
  /* padding: 1rem; */
  /* box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25); */

  .clients_list_select-title {
    padding-left: 16px;
    flex-grow: 1;
    height: 47px;
    border: 1px solid #828282;
    border-radius: 4px;
    text-transform: none;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 47px;
    font-size: 16px;
    color: #4f4f4f;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
  }
  .clients-select-placeholder {
      font-size: 14px;
  }
  .clients_list_input {
    padding: 5px 10px;
    input {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      line-height: 14px;
      background-color: white;
      color: #333333 !important;
      padding: 5px 10px;
      border: 1px solid #828282;
      width: 100%;
      margin: 0;
      &::placeholder {
        color: #828282;
      }
    }
  }

  .clients_list_dropdown {
    flex-grow: 1;
    position: absolute;
    top: 110%;
    font-size: 14px;
    width: 100%;
    background: white;
    padding: 5px;
    border-radius: 0.4rem;
    border: 1px solid #828282;
  }
  .clients_list {
    height: 105px;
    overflow-y: auto;
  }
  .empty-list {
    padding: 0.3rem 0.5rem;
    color: #4f4f4f;
  }
  .clients_list_item {
    padding: 5px 10px;
    color: #333333;
    cursor: pointer;

    &:hover {
      background-color: #e0e0e0;
      color: #333333;
    }
  }
  .clients-vector {
    position: absolute;
    width: 24px;
    height: 24px;
    background: url("../../images/icons/arrow-down-gray.svg") no-repeat center;
    transition: all 0.3s;
    right: 5px;
    top: 10px;
    cursor: pointer;
  }
  .clients-vector_up {
    transform: rotate(-180deg);
  }
  .client-remove {
    width: 30px;
    height: 30px;
    background: url("../../images/icons/close-thin.svg") no-repeat center;
    background-size: 35%;
  }
}
.clients_list_wrapper::before {
  content: attr(data-label);
  position: absolute;
  font-family: "Open Sans", sans-serif;
  color: #4f4f4f;
  font-size: 14px;
  top: -25px;
}
.clients_list_item_name {
  color: black;
}
