.clients_list_wrapper {
  border-radius: 0.4rem;
  z-index: 1;
  width: 100%;
  margin-top: 35px;
  background: #ffffff;
  position: relative;

  .clients_clear {
    position: absolute;
    top: -25px;
    right: 0;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #eb5757;
    cursor: pointer;
    & > p {
      margin: 0;
    }
  }

  .clients_list_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 0.4rem;
    border: 1px solid #828282;
  }

  .clients_list_select-title {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    text-transform: none;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 29px;
    font-size: 16px;
    color: #4f4f4f;
    overflow: auto;
    & > span {
      padding: 0 16px;
    }
  }
  .clients-select-placeholder {
    font-size: 14px;
  }
  .clients_list_input {
    padding: 5px 10px;
    input {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      line-height: 14px;
      background-color: white;
      color: #333333 !important;
      padding: 5px 10px;
      border: 1px solid #828282;
      width: 100%;
      margin: 0;
      &::placeholder {
        color: #828282;
      }
    }
    input::-moz-placeholder {
      line-height: normal !important;
    }
  }

  .clients_list_dropdown {
    flex-grow: 1;
    position: absolute;
    top: 110%;
    font-size: 14px;
    width: 100%;
    background: white;
    padding: 5px;
    border-radius: 0.4rem;
    border: 1px solid #828282;
  }
  .clients_list {
    height: 105px;
    overflow-y: auto;
  }
  .empty-list {
    padding: 0.3rem 0.5rem;
    color: #4f4f4f;
  }
  .clients_list_item {
    padding: 5px 10px;
    color: #333333;
    cursor: pointer;

    &:hover {
      background-color: #e0e0e0;
      color: #333333;
    }
  }
  .cliens-vector-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    align-self: stretch;
    cursor: pointer;
  }
  .clients-vector {
    width: 24px;
    height: 24px;
    background: url("../../images/icons/arrow-down-gray.svg") no-repeat center;
    transition: all 0.3s;
    right: 5px;
    top: 10px;
  }
  .clients-vector_up {
    transform: rotate(-180deg);
  }
  .client-remove {
    margin-left: 5px;
    width: 14px;
    height: 14px;
    background: url("../../images/icons/close-thin.svg") no-repeat center;
  }
}
.clients_list_wrapper::before {
  content: attr(data-label);
  position: absolute;
  font-family: "Open Sans", sans-serif;
  color: #4f4f4f;
  font-size: 14px;
  top: -25px;
}
.clients_list_item_name {
  color: black;
}
