.currency-select {
  cursor: pointer;
  position: relative;
  // z-index: 1;
  //margin: 0 0.5rem 0 0;

  .currency-select__selected-currency {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .currency-select__currency-name {
    font-size: 14px;
    padding-left: 14px;
    padding-right: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 20rem;
  }

  .arrow_down {
    width: 24px;
    height: 24px;
    background: url("../../images/icons/arrow-down.svg") no-repeat center;
    transition: all 0.3s;

    &_up {
      transform: rotate(-180deg);
    }
  }

  .currency-select__dropdown {
    position: absolute;
    z-index: 1;
    padding: 5px;
    top: 130%;
    left: -48px;
    background:#27292A;
    box-shadow: 2px 2px 4px black;
    width: 300px;
  }
  
  .currency-select__dropdown-title {
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.9rem;
    margin: 5px 10px;
  }

  .currency-select__dropdown-list {
    overflow-y: auto;
    height: 231px;
  }

  .currency-select__dropdown-input {
    margin: 5px 10px;
  }

  .currency-select__dropdown-list-input {
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 14px;
    background-color: #333333;
    color: white;
    padding: 5px 10px;
    border: none;
  }

  .currency-select__dropdown-list-item {
    display: flex;
    min-width: 100%;
    align-items: center;
    padding: 5px 10px;

    &:hover {
      background-color: #e0e0e0;
    }

    .currency-select__dropdown-list-item-currency-name {
      color: white;
      font-size: 1.4rem;
      line-height: 1.9rem;
    }

    &:hover .currency-select__dropdown-list-item-currency-name {
      color: #333333;
    }
  }
}

.currency-select--list-item {
  margin: 0 auto 0 0;

  .currency-select__dropdown {
    right: unset;
    left: 0;
    width: 22rem;
  }

  .currency-select__dropdown-list {
    height: 14rem;
  }

  .currency-select__dropdown-list-item-currency-name {
    line-height: 1.4rem;
  }
}

// Mobile styles
.currency-select--mobile {
  .currency-select__currency-name {
    margin: 0;
    max-width: 100px;
  }
}
