.register-block {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    min-height: 100vh;
    background-color: #3b3b3b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem 0 2rem;
}

.register-block .register-block__logo {
    width: 19.6rem;
    height: 4.6rem;
    background: url("../../images/wobbly_logo.png") no-repeat center;
    background-size: cover;
    margin: 0 0 2rem 0;
}

.register-block .register-block__form {
    display: flex;
    flex-direction: column;
    padding: 2.2rem;
    background-color: #ffffff;
    width: 100%;
    max-width: 31.3rem;
    margin: 0 0 .8rem 0;
    border-radius: 0.4rem;
}

.register-block .register-block__label {
    display: flex;
    flex-direction: column;
    margin: 0 0 2rem 0;
}

.register-block .register-block__input {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding: 1.5rem;
    border: 1px solid #828282;
    outline: none;
    border-radius: 0.4rem;
    color: black;
    font-size: 1.4rem;
    line-height: 1.9rem;
    margin: 1rem 0 0 0;
}

.register-block .register-block__button--submit {
    font-family: 'Open Sans', sans-serif;  
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.9rem;
    padding: 1rem 0;
    color: white;
    border-radius: 0.5rem;
    background: #27ae60;
}

.register-block .register-block__button--to-login {
    font-style: normal;
    cursor: pointer;
    color: #2D9CDB;
    background: none;
    padding: .8rem 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.9rem;
}

.register-block .register-block__link--to-conditions {
    display: block;
    font-style: normal;
    cursor: pointer;
    color: #2D9CDB;
    background: none;
    padding: .8rem 0;
    text-decoration: none;
    text-align: center;
    max-width: 28rem;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.9rem;
}

@media (min-width: 768px) {
    html {
         font-size: 12px;
    }
}