@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url("https://fonts.googleapis.com/css?family=Open+Sans")
}

.manual_time_modal_background {
    position: fixed;
    background-color: gray;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
    opacity: 0.5;
}

.manual_time_modal_container {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: calc(49% - 48px);
    z-index: 2;
    background: #FFFFFF;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 24px;
}

.manual_time_modal_container input {
    width: calc(100% - 24px);
    height: 47px;
    background: #FFFFFF;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 4px;
    color: #828282;
    padding-left: 24px;
}

.manual_time_modal_close {
    position: relative;
    left: 99%;
    top: 0;
    margin-bottom: 24px;
}

.manual_timer_modal_button_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 24px;
}

.manual_timer_modal_timepickers_container div {
    margin-top: 24px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }

input[type="time"],
.manual_time_modal_wrapper input {
    margin-top: 12px;
    padding-right: 24px;
}

.manual_time_modal_wrapper span {
    font-family: 'Open Sans', sans-serif;;
    line-height: normal;
    font-size: 16px;
    color: #000000;
}
