.wrapper_user_setting_page {
  position: relative;
  width: 100%;
  height: 100%;
  .data_container {
    width: 100%;
    height: 100%;
    padding-top: 47px;
    padding-left: 56px;
    padding-right: 56px;
    background-color: #333;
    overflow: auto;
  }

  .header_user_setting {
    display: flex;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
    line-height: 49px;
    color: #ffffff;
  }

  .header_user_setting button {
    width: 196px;
    height: 45px;
    margin-left: 27px;
    border: 1px solid #27ae60;
    border-radius: 4px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    background-color: transparent;
  }

  .body_user_setting {
    display: flex;
    align-items: flex-start;
    margin-top: 50px;

    .fakecredentials {
      opacity: 0;
      position: absolute;
    }
  }

  .column-inputs {
    flex-grow: 1;
    padding: 0 0 20px 20px;
    max-width: 600px;
  }

  .body_user_setting .input_title {
    display: block;
    // position: relative;
    // top: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
    margin: 0 0 10px 0;
  }

  .body_user_setting .input_subtitle {
    // font-family: "Open Sans", sans-serif;
    // font-size: 14px;
    // line-height: 25px;
    // color: #ffffff;
    // margin: 0 0 10px 0;

    a {
      color: #d9d9d9;
    }

    a:visited {
      color: #d9d9d9;
    }

    a:hover {
      color: #d9d9d9;
    }
  }

  // .body_user_setting .input_container input {
  //   // margin-top: 10px;
  //   margin: 0 0 16px 0;
  //   font-size: 16px;
  //   line-height: 22px;
  //   color: #d8d8d8;
  //   // width: 638px;
  //   height: 45px;
  //   background: #4f4f4f;
  //   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  //   border-radius: 4px;
  //   border: 0;
  //   padding-left: 18px;

  //   // &[type="email"],
  //   &[name="jiraPassword"] {
  //     margin: 0;
  //   }
  // }

  .input_container_phone {
    margin: 0 0 16px 0;
    position: relative;

    .react-tel-input{
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    }

    .form-control {
      width: 100%;
      font-size: 16px;
      line-height: 22px;
      height: 45px;
      color: #d8d8d8;
      background: #4f4f4f;
      border: 0;
      padding: 1px 0 1px 58px;

      &::placeholder {
      }
    }

    .flag-dropdown {
      background: #4f4f4f;
      border: 0;
      border-right: 2px solid #333;
      border-radius: 4px 0 0 4px;

      &:hover .selected-flag {
        background: transparent;
        border-radius: 4px 0 0 4px;
      }
    }

    .arrow {
      position: relative;
      top: 50%;
      margin-top: -2px;
      left: 20px;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 7px solid #d8d8d8;
    }

    .arrow.up {
      border-top: none;
      border-bottom: 7px solid #d8d8d8;
    }

    .selected-flag {
      width: 45px;
      background: #4f4f4f !important;
      border-radius: 4px 0 0 4px !important;
    }

    .country-list {
      width: 300px;
      border-radius: 0.4rem;
      background: #4f4f4f;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .country {
      font-size: 1.5rem;
      line-height: 2.2rem;
      padding: 0.5rem 0.5rem 0.5rem 1.3rem;
      margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    .highlight {
      background-color: #333333 !important;
    }

    .country {
      &:hover {
        cursor: pointer;
        background-color: #333333;
      }

      .country-name {
        color: #d8d8d8 !important;
      }

      .dial-code {
        color: #d8d8d8 !important;
      }
    }
  }

  @keyframes loop {
    to {
      transform: rotate(360deg);
    }
  }

  .user-settings__date-time-format-block {
    display: flex;
    flex-direction: column;
    min-width: 100%;

    .user-settings__date-time-format-block--row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      min-width: 100%;
      margin: 0 0 16px 0;
    }
  }

  .wrapper-jira-sync {
    .input_checkbox_jira {
      display: inline-flex !important;
      flex-direction: row !important;
      justify-content: flex-start;
      align-items: center;
      margin: 0 20px 0 0 !important;
    }

    .jira_sync_visibility_btn {
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      line-height: 25px;
      // line-height: 20px;
      color: #ffffff;
      margin: 0 0 10px 0;
      text-decoration: underline;
      cursor: pointer;
    }

    .verify-arrow-loop {
      width: 25px;
      height: 25px;
      background: url("../../images/icons/arrow-loop.svg") center center
        no-repeat;
      background-size: 20px 20px;
      cursor: pointer;

      &--rotate-arrow {
        animation: loop 2s infinite linear;
      }
    }

    .input_title {
      // flex-grow: 1;
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 6px;
    }

    input[type="checkbox"] {
      width: 15px !important;
      height: 15px !important;
      margin: 0 1rem 1rem 0 !important;
    }
  }

  // .body_user_setting .input_container {
  //   display: flex;
  //   flex-direction: column;
  //   // margin: 10px 0 10px 0;

  //   &:last-of-type {
  //     margin: 0;
  //   }
  // }

  .body_user_setting .save_btn {
    width: 196px;
    height: 45px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    background: #27ae60;
    border-radius: 4px;
    margin-top: 31px;
  }
}

.wrapper_user_setting_page--mobile {
  .data_container {
    padding: 1rem;
  }
  @media screen and (max-width: 894px) {
    .header_user_setting {
      display: block;
    }
    .header_user_setting div {
      width: 100%;
      text-align: center;
    }
    .header_user_setting button {
      display: block;
      margin: 10px auto 0;
    }
    .body_user_setting {
      margin-top: 20px;
      flex-wrap: wrap;
    }
    .column-avatar-social {
      margin: 0 auto 10px;
    }
    .column-inputs {
      padding: 0 5px;
    }
    .date-format {
      justify-content: space-between;
    }
    .time-format {
      width: auto;
      justify-content: space-between;
    }
    .duration-time-format {
      justify-content: space-between;
    }
    .body_user_setting button {
      display: block;
      margin: 25px auto 5px;
    }
  }
}
