.wrapper_user_setting_page {
  position: relative;
  width: 100%;
  height: 100%;

  .data_container {
    width: 100%;
    height: 100%;
    padding-top: 47px;
    padding-left: 56px;
    padding-right: 10px;
    background-color: #333;
    overflow: auto;
  }

  .flag-input-container {
    .flag-select {
      display: flex;
      width: 100%;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      outline: none;
      border-radius: 0.4rem;
      line-height: 1.9rem;
      height: 45px;
      background: #4f4f4f;
      ul {
        border: none;
        margin-top: 5px;
        li {
          color: #d8d8d8;
        }
        li:hover {
          background-color: #333;
        }
      }
      .flag-select__option--placeholder {
        padding-bottom: 0;
        color: #d8d8d8 !important;
        font-size: 16px;
      }
      .flag-select__btn {
        padding: 0 2px;
      }
      .flag-select__btn::after {
        position: absolute;
        top: 20px;
        right: 10px;
        border-top: 5px solid #d8d8d8;
      }
      .flag-select__btn::before {
        z-index: 14;
      }
      .flag-select__options {
        margin-top: 50px;
        width: 100%;
        background: #4f4f4f;
        input {
          border: 1px solid gray;
          background: #4f4f4f;
        }
      }
      .filterBox{
        input{
          color: #d8d8d8;
        }
      }
    }
    &__icon-arrow {
      position: relative;
      top: 18px;
      right: 10px;
      height: 7px;
      width: 11px;
      background: url("/static/media/arrow_down.b976035c.svg") no-repeat center;
    }
  }
  .input_container {
    input {
      padding: 1.1rem 3rem 1.1rem 1.8rem;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    label {
      margin-bottom: 5px;
    }
    .wrapper-base-input__error-message {
      height: 1rem;
    }
  }
  .flag-input-container {
    width: 100%;
    margin: 0 0 0.4rem 0;

    .flag-input-container-title {
      color: white;
      font-size: 18px;
      margin-bottom: 10px;
      line-height: 25px;
    }
  }
  .header_user_setting {
    display: flex;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
    line-height: 49px;
    color: #ffffff;
  }

  .header_user_setting button {
    width: 196px;
    height: 45px;
    margin-left: 27px;
    border: 1px solid #27ae60;
    border-radius: 4px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    background-color: transparent;
  }

  .body_user_setting {
    display: flex;
    align-items: flex-start;
    margin-top: 50px;

    .fakecredentials {
      opacity: 0;
      position: absolute;
    }
  }

  .column-inputs {
    flex-grow: 1;
    padding: 0 0 20px 20px;
    max-width: 600px;
  }

  .body_user_setting .input_title {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
    margin: 0 0 10px 0;
  }

  .body_user_setting .input_subtitle {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 25px;
    color: #ffffff;
    margin: 0 0 10px 0;

    a {
      color: #d9d9d9;
    }

    a:visited {
      color: #d9d9d9;
    }

    a:hover {
      color: #d9d9d9;
    }
  }

  .input_container_phone {
    margin: 0 0 10px 0;
    position: relative;

    .react-tel-input {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    }

    .form-control {
      width: 100%;
      font-size: 16px;
      line-height: 22px;
      height: 45px;
      color: #d8d8d8;
      background: #4f4f4f;
      border: 0;
      padding: 1px 0 1px 58px;
    }

    .flag-dropdown {
      background: #4f4f4f;
      border: 0;
      border-right: 2px solid #333;
      border-radius: 4px 0 0 4px;

      &:hover .selected-flag {
        background: transparent;
        border-radius: 4px 0 0 4px;
      }
    }

    .arrow {
      position: relative;
      top: 50%;
      margin-top: -2px;
      left: 20px;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 7px solid #d8d8d8;
    }

    .arrow.up {
      border-top: none;
      border-bottom: 7px solid #d8d8d8;
    }

    .selected-flag {
      width: 45px;
      background: #4f4f4f !important;
      border-radius: 4px 0 0 4px !important;
    }

    .country-list {
      width: 300px;
      border-radius: 0.4rem;
      background: #4f4f4f;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .highlight {
      background-color: #333333 !important;
    }
  }

  @keyframes loop {
    to {
      transform: rotate(360deg);
    }
  }

  .user-settings__select-location {
    display: flex;
    flex-direction: column;
    min-width: 100%;

    .user-settings__select-adress {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      min-width: 100%;
      .input_container {
        margin-right: 10px;
      }
      .flag-input-container {
        margin-right: 10px;
      }
      .input_container:last-child {
        margin-right: 0;
      }
    }
  }
  .user-settings__select-country-city--row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100%;
    margin: 0 0 16px 0;
  }
  .user-settings__select-street-zip--row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100%;
    margin: 0 0 16px 0;
  }
  .user-settings__date-time-format-block {
    display: flex;
    flex-direction: column;
    min-width: 100%;

    .user-settings__date-time-format-block--row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      min-width: 100%;
      margin: 0 0 16px 0;
    }
  }
  .user-settings__technology {
    margin: 0 0 1.6rem 0;
  }
  .user-settings__technology-title {
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: #fff;
    margin: 0 0 1rem 0;
  }

  .wrapper-jira-sync {
    .input_checkbox_jira {
      width: auto;
      display: inline-flex !important;
      flex-direction: row !important;
      justify-content: flex-start;
      align-items: center;
      margin: 0 20px 0 0 !important;
    }

    .jira_sync_visibility_btn {
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      line-height: 25px;
      // line-height: 20px;
      color: #ffffff;
      margin: 0 0 0 0;
      text-decoration: underline;
      cursor: pointer;
    }

    .verify-arrow-loop {
      width: 25px;
      height: 25px;
      background: url("../../images/icons/arrow-loop.svg") center center
        no-repeat;
      background-size: 20px 20px;
      cursor: pointer;

      &--rotate-arrow {
        animation: loop 2s infinite linear;
      }
    }

    .input_title {
      // flex-grow: 1;
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 6px;
    }

    input[type="checkbox"] {
      width: 15px !important;
      height: 15px !important;
      margin: 0 1rem 1rem 0 !important;
    }
  }

  .body_user_setting .save_btn {
    width: 196px;
    height: 45px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    background: #27ae60;
    border-radius: 4px;
    margin-top: 31px;
  }
}

.wrapper_user_setting_page--mobile {
  .data_container {
    padding: 1rem;
  }

  @media screen and (max-width: 894px) {
    .flag-select {
      .flag-select__btn {
        margin: 0;
      }
    }
    .header_user_setting {
      display: block;
    }
    .header_user_setting div {
      width: 100%;
      text-align: center;
    }
    .header_user_setting button {
      display: block;
      margin: 10px auto 0;
    }
    .body_user_setting {
      margin-top: 20px;
      flex-wrap: wrap;
    }
    .column-avatar-social {
      margin: 0 auto 10px;
    }
    .column-inputs {
      padding: 0 5px;
    }
    .date-format {
      justify-content: space-between;
    }
    .country-input {
      justify-content: space-between;
    }
    .city-input {
      justify-content: space-between;
    }
    .street-input {
      justify-content: space-between;
    }
    .zip-input {
      justify-content: space-between;
    }
    .time-input {
      width: auto;
      justify-content: space-between;
    }
    .duration-time-format {
      justify-content: space-between;
    }
    .body_user_setting .save_btn {
      display: block;
      margin: 25px auto 5px;
    }
  }
  @media screen and (max-width: 445px) {
    .user-settings__select-location {
      .user-settings__select-adress {
        flex-direction: column;
      }
    }
    .user-settings__date-time-format-block {
      .user-settings__date-time-format-block--row {
        flex-direction: column;
        div {
          width: 100%;
        }
        .first-day-week-format {
          margin-top: 10px;
        }
        .duration-time-format {
          margin-top: 10px;
        }
      }
    }
    .data_container {
      padding: 0;
    }
    .date-format {
      margin: 0 3px 0 0;
    }
    .country-input {
      margin: 0 3px 0 0;
    }
    .city-input {
      margin: 0 3px 0 0;
    }
    .street-input {
      margin: 0 3px 0 0;
    }
    .zip-input {
      margin: 0 3px 0 0;
    }
  }
}
