.arrow_down,
.arrow_up {
  width: 20px;
  height: 20px;
  margin-top: 20px;
  background: url("../../images/icons/arrow_down.svg") no-repeat center;
  transition: transform 0.5s;
}

.arrow_up {
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: transform 0.5s;
}

.day-hour {
  color: #FFFFFF;
  font-size: 10px;
  font-weight: bold;
  padding: 0;
}

.user-block {
  display: flex;
  align-items: stretch;

  .logged {
    flex: 1;
    margin-bottom: 10px;

    &__title {
      color: white;
      margin-left: 20px;
    }
  }

  .plan {
    flex: 1;

    &__title {
      margin: 0 0 0 20px;
      padding: 7px 0 7px 5px;
      color: white;
      border-left: 5px solid #26A1A1;
    }
  }

  &__main-block {
    display: flex;
    border-bottom: 1px solid #1F1F1F;
    margin-left: 20px;

    .week {
      display: flex;
      position: relative;
      transition: height 0.3s;

      .day {
        width: 40px;
        height: 100%;
        position: relative;
        border: 1px solid #1F1F1F;
        border-top: none;
        border-bottom: none;
        outline: none;
      }
    }
  }

  &__week-block{
    display: flex;
    position: relative;
    height: 35px;
    transition: height 0.3s;
  }

  &__day-block{
    width: 40px;
    height: 100%;
    position: relative;
    cursor: pointer;
    border: 1px solid #1F1F1F;
    border-top: none;
    border-bottom: none;
    outline: none;
  }
}

.time-off-block {
  margin-top: 8px;
  position: absolute;
  z-index: 1;
  display: flex;

  .time-off-container{
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .time-off{
      position: relative;
      display: flex;
      justify-content: center;
      overflow: hidden;
      white-space: pre;;
      padding: 0 10px;

      >p{
        color: #FFFFFF;
        font-size: 10px;
        font-weight: bold;
        margin: 5px 0;
      }
    }
  }
}

.plan-block {
  margin-top: 8px;
  position: absolute;
  z-index: 1;
  display: flex;

  .plan-container{
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .plan{
      position: relative;
      display: flex;
      justify-content: space-between;
      height: 30px;
      overflow: hidden;
      white-space: pre;;
      padding: 0 10px;

      >p{
        color: #FFFFFF;
        font-size: 10px;
        font-weight: bold;
        margin: 5px 0;
      }
    }

    .time-off{
      width: 40px;
      position: relative;
      display: flex;
      justify-content: center;
      height: 30px;
      padding: 0 1px;

      >p {
        margin: 5px 0;
        color: #FFFFFF;
        font-size: 10px;
        font-weight: bold;
      }
    }
  }
}

.logged-block {
  position: absolute;
  z-index: 1;
  display: flex;

  .container {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .project-title {
      color: white;
      font-size: 10px;
      font-weight: 500;
      position: absolute;
      width: max-content;
      padding: 5px 3px;
      top: 0;
      left: 0;
      margin: 0;
    }

    .cell-container {
      display: flex;
      box-sizing: content-box;

      .cell {
        box-sizing: content-box;
        position: relative;
        width: 38px;
        min-width: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20px;
        margin-bottom: 15px;
        border: 1px solid #1F1F1F;
        border-top: none;
        border-bottom: none;

        &:first-child {
          border-left: 0;
        }
        &:last-child {
          border-right: 0;
        }
      }
    }
  }
}
