.arrow_down,
.arrow_up {
  width: 2rem;
  height: 2rem;
  margin-top: 2rem;
  background: url("../../images/icons/arrow_down.svg") no-repeat center;
  transition: transform 0.5s;
}

.arrow_up {
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: transform 0.5s;
}

.day-hour {
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: bold;
  padding: 0;
}

.user-block {
  display: flex;
  align-items: stretch;
   .aside-bar{
     position: sticky;
     top:0;
     z-index: 2;
     left: 0;
   }
  .logged {
    flex: 1;
    margin-bottom: 1rem;

    &__title {
      color: white;
      margin-left: 2rem;
    }
  }

  .plan {
    flex: 1;

    &__title {
      margin: 0 0 0 2rem;
      padding: 0.7rem 0 0.7rem 0.5rem;
      color: white;
      border-left: 0.5rem solid #26A1A1;
    }
  }

  &__main-block {
    display: flex;
    border-bottom: 0.1rem solid #1F1F1F;
    margin-left: 2rem;
    overflow: hidden;

    .week {
      display: flex;
      position: relative;
      transition: height 0.3s;

      .day {
        width: 4rem;
        height: 100%;
        position: relative;
        border: 0.1rem solid #1F1F1F;
        border-top: none;
        border-bottom: none;
        outline: none;
      }

      .day-isWeek {
        width: 16rem;
      }
    }
  }

  &__month-block{
    display: flex;
  }

  &__week-block{
    display: flex;
    position: relative;
    height: 3.5rem;
    transition: height 0.3s;

  }

  &__day-block{
    width: 4rem;
    height: 100%;
    position: relative;
    cursor: pointer;
    border: 0.1rem solid #1F1F1F;
    border-top: none;
    border-bottom: none;
    outline: none;

    .plus-img{
      width: 3.8rem;
      height: 2.2rem;
      z-index: 7;
      position: absolute;
      top: 0.8rem;
    }

  }

  &__day-block--isWeek{
    width: 16rem;
  }
}

.time-off-block {
  margin-top: 0.8rem;
  position: absolute;
  z-index: 1;
  display: flex;

  .time-off-container{
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .time-off{
      position: relative;
      display: flex;
      justify-content: center;
      overflow: hidden;
      white-space: pre;;
      padding: 0 0.1rem;

      >p{
        color: #FFFFFF;
        font-size: 1rem;
        font-weight: bold;
        margin: 0.5rem 0;
      }
    }
  }
}

.plan-block {
  margin-top: 0.8rem;
  position: absolute;
  z-index: 1;
  display: flex;

  .plan-container{
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .plan{
      position: relative;
      display: flex;
      justify-content: space-between;
      height: 3rem;
      overflow: hidden;
      white-space: pre;;
      padding: 0 0.1rem;

      >p{
        color: #FFFFFF;
        font-size: 1rem;
        font-weight: bold;
        margin: 0.5rem 0;
      }
    }

    .time-off{
      width: 4rem;
      position: relative;
      display: flex;
      justify-content: center;
      height: 3rem;
      padding: 0 0.1rem;

      >p {
        margin: 0.5rem 0;
        color: #FFFFFF;
        font-size: 1rem;
        font-weight: bold;
      }
    }
  }
}

.logged-block {
  position: absolute;
  z-index: 1;
  display: flex;
  width: 3.8rem;
   &-isWeek {
     width: 16rem;
   }
  .container {
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .project-title {
      color: white;
      font-size: 1rem;
      font-weight: 500;
      position: absolute;
      width: max-content;
      padding: 0.5rem 0.3rem;
      top: 0;
      left: 0;
      margin: 0;
    }

    .cell-container {
      display: flex;
      box-sizing: content-box;

      .cell {
        box-sizing: content-box;
        position: relative;
        width: 3.8rem;
        min-width: 3.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2rem;
        margin-bottom: 1.5rem;
        border: 0.1rem solid #1F1F1F;
        border-top: none;
        border-bottom: none;
        &--isWeek {
          width: 15.8rem;
          min-width: 15.8rem;
        }
        &:first-child {
          border-left: 0;
        }
        &:last-child {
          border-right: 0;
        }
      }
    }
  }
}
