.wrapper_change_password_modal {
  .change_password_modal_background {
    position: fixed;
    background-color: rgba(89, 89, 89, 0.5);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
  }

  .change_password_modal_container {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 315px;
    z-index: 15;
    background: #ffffff;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 4px;
  }

  .change_password_modal_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // width: calc(100% - 40px);
    padding: 0 20px;
    border-bottom: 1px solid #bdbdbd;
    height: 63px;
  }

  .change_password_modal_header_title {
    font-family: "Open Sans", sans-serif;
    line-height: normal;
    font-size: 16px;
    color: #000000;
    font-weight: 600;
  }

  .change_password_modal_header_close {
    display: block;
    width: 24px;
    height: 24px;
    background: url("../../images/icons/close_black.svg") no-repeat center;
    cursor: pointer;
  }
}
