@font-face {
    font-family: "Open Sans", sans-serif;
    src: url("https://fonts.googleapis.com/css?family=Open+Sans");
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 188px;
    background-color: #3b3b3b;
    box-shadow: 6px 0 20px rgba(0, 0, 0, 0.14);
    z-index: 1;
}

.logo_small {
    display: block;
    width: 133px;
    height: 26px;
    background: url("../../images/wobbly_logo.png") no-repeat center;
    margin-top: 34px;
    background-size: 110px;
}

i {
    display: block;
}

.navigation_links_container i {
    width: 15px;
    height: 15px;
}

.navigation_links_container {
    margin-top: 35px;
}

.timer {
    background: url("../../images/icons/clock.svg") no-repeat center;
}

.reports {
    background: url("../../images/icons/newspaper.svg") no-repeat center;
}

.projects {
    background: url("../../images/icons/folder.svg") no-repeat center;
}

.team {
    background: url("../../images/icons/team.svg") no-repeat center;
}

.workspaces {
    background: url("../../images/icons/arrow_down.svg") no-repeat center;
}

.links_text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    color: #ffffff;
    margin-left: 8px;
    text-transform: capitalize;
}

.navigation_links {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 167px;
    height: 28px;
    padding-left: 21px;
    margin-top: 10px;
    cursor: pointer;
}

.navigation_links:hover {
    background: #4f4f4f;
}

link,
a {
    outline: none;
}

.navigation_links .timer_task {
    margin-left: 10px;
    color: white;
}

.logout_container {
    bottom: 27px;
    cursor: pointer;
    position: absolute;
    width: 100%;
    z-index: inherit;
    margin-bottom: 30px;
}

.logout_container div {
    height: 28px;
    padding-left: 21px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.logout_container:hover {
    background: #4f4f4f;
}

.logout_container span {
    margin-left: 7px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
    color: #FFFFFF
}

.logout {
    width: 15px;
    height: 15px;
    background: url("../../images/icons/logout.svg") no-repeat center;
}
