.wrapper {
  display: flex;
  flex-direction: column;
  padding: 34px 0 2rem 0;
  background-color: #3b3b3b;
  box-shadow: 6px 0 20px rgba(0, 0, 0, 0.14);
  height: 100%;
  width: 100%;
  position: inherit;
  z-index: 1;
}
.wrapper-position-add-team {
  width: 100%;
}

.logo_small {
  display: block;
  margin-bottom: 3.5rem;
  height: 26px;
  background: url("../../images/icons/logo.svg") no-repeat center;
  background-size: 111px;
}

.team_list ul {
  list-style: none;
}

i {
  display: block;
}

.navigation_links > i {
  width: 20px;
  height: 20px;
}

.navigation_links_container {
  flex-grow: 1;
  width: 100%;
}

.arrow_closed,
.arrow_open,
.arrow_closed_mobile,
.arrow_open_mobile {
  width: 28px;
  height: 28px;
  background: url("../../images/icons/arrow-down.svg") no-repeat center;
  transition: all 0.3s;
}

.arrow_closed {
  transform: rotate(-90deg);
}
.arrow_open {
  transform: rotate(90deg);
}
.arrow_closed_mobile {
  transform: rotate(180deg);
}
.arrow_open_mobile {
  transform: rotate(0deg);
}

.timer {
  background: url("../../images/icons/time.svg") no-repeat center;
}

.reports {
  background: url("../../images/icons/reports.svg") no-repeat center;
}

.projects {
  background: url("../../images/icons/projects.svg") no-repeat center;
}

.help {
  background: url("../../images/icons/help-circle.svg") no-repeat center;
}

.team {
  width: 20px;
  height: 20px;
  background: url("../../images/icons/team.svg") no-repeat center;
}
.clients {
  background: url("../../images/icons/clients.svg") no-repeat center;
}

.workspaces {
  background: url("../../images/icons/arrow-down.svg") no-repeat center;
}

.invoices {
  background: url("../../images/icons/invoices.svg") no-repeat center;
}

.links_text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
  color: #ffffff;
  margin-left: 8px;
  text-transform: capitalize;
}

.external_link {
  margin: 0;
  text-decoration: none;
  display: block;
}

.active_external_link {
  background: #4f4f4f;
}

.team_link {
  justify-content: space-between !important;
  padding: 0 21px;
}
.team_link > span:hover {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.navigation_links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 28px;
  padding-left: 21px;
  margin-bottom: 10px;
  cursor: pointer;
  text-decoration: none;
}

.navigation_links:hover {
  background: #4f4f4f;
}

.active-link {
  .navigation_links {
    background: #4f4f4f;
  }
}

link,
a {
  outline: none;
}

.navigation_links .timer_task {
  margin-left: 10px;
  color: white;
  font-size: 1.6rem;
}

@media (min-width: 1024px) {
  .wrapper {
    width: 188px;
  }

  .wrapper-position-add-team {
    position: relative;
  }
}

.wrapper--mobile {
  .navigation_links:hover,
  li:hover,
  .logout_container:hover,
  .user_setting_modal_item:hover {
    background: none;
  }
}
