.avatar-wrapper {
  position: relative;
  cursor: pointer;
  margin: 30px 0 0 0;

  &:hover .avatar-settings {
    visibility: visible;
  }

  .avatar-img {
    display: inline-block;
    min-width: 150px;
    min-height: 150px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }

  .avatar-settings {
    width: 58px;
    height: 27px;
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px 9px;
    background: #656060;
    border-radius: 0px 4px;
    .settings-icon {
      margin: 0 5px 0 0;
    }
    .settings {
      margin-right: 6px;
      width: 18px;
      height: 18px;
      background: url("../../images/icons/settings.svg") no-repeat center;
    }
    .arrow_down {
      width: 11px;
      height: 18px;
      background: url("../../images/icons/arrow-down.svg") no-repeat center;
      transition: all 0.3s;
  
      &_up {
        transform: rotate(-180deg);
      }
    }
  }

  .avatar-settings-menu {
    position: absolute;
    top: 30px;
    right: -74px;
    background: #27292A;
    box-shadow: 2px 2px 4px black;
    color: white;
    z-index: 12;
    padding: 5px;

    .avatar-settings-menu__item {
      font-family: "Open Sans", sans-serif;
      font-weight: 500;
      font-size: 14px;
      padding: 5px 10px;

      &:hover {
        background-color: #cecece;
        color: #333333;
      }
    }
  }

  .avatar-settings-menu--hidden {
    display: none;
  }
}
