.timeoff-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 317px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin: auto;
  border-radius: 7px;
  background: #ffffff;
  z-index: 100;

  font-family: "Open Sans";
  font-style: normal;

  // ----------------------------------------

  &__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 11px 20px 0 20px;
    margin-bottom: 18px;
  }
  &__header > p {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    margin: 0;
  }
  &__header > svg {
    cursor: pointer;
  }

  // ----------------------------------------

  &__question,
  &__pencil {
    position: relative;
    margin-left: 23px;
    width: 18px;
    height: 18px;
    cursor: pointer;
  }
  &__pencil > i,
  &__question > i {
    width: 18px;
    height: 18px;
  }
  &__pencil {
    background: url("../../images/icons/pencil.svg") no-repeat center;
  }
  &__question > i {
    background: url("../../images/icons/question.svg") no-repeat center;
  }

  // ----------------------------------------

  &__notification-hide,
  &__notification-show {
    position: absolute;
    top: 50%;
    left: 100%;
    width: 295px;
    background: #ffffff;
    border-radius: 6px;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    padding: 18px 22px;
    box-shadow: 0px 2px 13px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease-in;
  }
  &__notification-hide {
    opacity: 0;
  }
  &__notification-show {
    opacity: 1;
  }

  // ----------------------------------------

  &__add-days {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px 20px 11px 20px;
    border-top: 1px solid #e2e2e2;
  }

  &__plus {
    width: 9px;
    height: 9px;
    background: url("../../images/icons/timeOffPlus.svg") no-repeat center;
    margin-right: 10px;
  }

  // ----------------------------------------

  &__body {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
  }

  &__list-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 20px;
  }
  &__list-item:first-child {
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 8px;
  }

  &__list-item-text {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #474747;
    margin: 0;
  }
  &__list-item-text::first-letter {
    text-transform: uppercase;
  }

  &__list-item-left {
    display: flex;
    align-items: center;
  }
  
  &__list-item-color {
    width: 9px;
    height: 9px;
    max-width: 9px;
    max-height: 9px;
    border-radius: 50%;
    margin-right: 10px;
  }

  &__list-item-right {
    display: flex;
    align-items: center;
  }

  // ----------------------------------------

  &__footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__add-btn,
  &__cancel-btn {
    height: 31px;
    width: 134px;
    border-radius: 2px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    font-family: "Open Sans";
  }
  &__add-btn {
    background: #02af67;
  }
  &__cancel-btn {
    background: #ff2b2b;
  }
}
