.wrapper_team_page {
  position: relative;
  width: 100%;
  height: 100%;

  .data_container_team_page {
    width: 100%;
    height: 100%;
    background-color: #333333;
    padding: 25px 40px 0;
    overflow-y: auto;
  }

  .page_name {
    font-family: "Open Sans", sans-serif;
    line-height: normal;
    font-size: 36px;
    color: #ffffff;
  }

  .team_page_searchBar {
    margin-bottom: 30px;
  }

  .team_page_data table {
    width: 100%;
    border-spacing: inherit;
  }

  .team_page_data table th {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    text-align: left;
    color: #ffffff;
    border-bottom: 1px solid #bdbdbd;
    &:nth-child(1) {
      width: 29%;
    }
    &:nth-child(2) {
      width: 17%;
    }
    &:nth-child(3) {
      width: 26%;
    }
    &:nth-child(4),
    &:nth-child(5) {
      width: 14%;
    }
  }

  .team_page_data table td {
    position: relative;
    height: 50px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    color: #ffffff;
  }
  .team_page_data table .avatar-small {
    display: inline-block;
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }
  .team_page_data table .user-container {
    display: flex;
    align-items: center;
  }
  .team_page_data table .user-container span {
    margin-left: 5px;
  }
  .team_page_data table .user-container .avatar-big {
    position: absolute;
    transition: transform 0.4s ease;
  }
  .team_page_data table .phone_container {
    min-width: 100px;
  }

  .team_page_data table .access_container {
    width: 124px;
    height: 30px;
    background: #27ae60;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .team_page_data table .access_container.red {
    background-color: red;
  }
  .team_page_data table .team-access-container {
    min-width: 110px;
  }

  .edit_button {
    display: block;
    position: absolute;
    top: 21px;
    right: 0px;
    margin-top: -2px;
    margin-left: 18px;
    margin-right: 0px;
    width: 15px;
    height: 15px;
    background: url("../../images/icons/baseline-create-24px.svg") no-repeat
      center;
    cursor: pointer;
    background-size: 20px;
  }
}
.avatar-big {
  position: absolute;
  display: inline-block;
  width: 120px;
  height: 120px;
  min-width: 24px;
  min-height: 24px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  left: 0;
  bottom: 40px;
  transform: scale(0);
  transition: transform 0.4s ease;
}

.wrapper_team_page--mobile {
  .data_container_team_page {
    padding: 1rem;
  }
  @media screen and (max-width: 894px) {
    .team_page_data .user-container .avatar-small,
    .team_page_data .user-container .avatar-big {
      display: none;
    }
    .team_page_header {
      flex-wrap: wrap;
    }

    .page_name {
      font-size: 16px;
    }
    .add_user_modal_container,
    .rename_team_modal_container {
      width: 95%;
      max-width: 350px;
    }
    .rename_team_modal_button_container_button {
      margin-right: 0;
    }
    .rename_team_modal_button_container {
      justify-content: center;
    }
    .add_user_modal_button_container_button {
      align-self: center;
    }
    .team_page_data {
      margin-top: 0;
      border-top: 1px solid rgba(156, 156, 156, 0.4);
    }
    thead {
      display: none;
    }
    td {
      position: relative;
      display: flex;
      align-items: center;
      width: 50%;
    }
    td:before {
      content: attr(data-label);
      font-size: 13px;
      color: #bdbdbd;
      position: absolute;
      top: -10px;
    }
    td:nth-child(1),
    td:nth-child(2),
    td:nth-child(3) {
      width: 60%;
    }
    td:nth-child(4),
    td:nth-child(5) {
      width: 40%;
    }
    tr {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: column;
      position: relative;
      height: 160px;
      border-bottom: 1px solid rgba(156, 156, 156, 0.4);
      margin-top: 15px;
    }
    td:nth-child(4) {
      justify-content: flex-end;
    }
    td:nth-child(5) {
      justify-content: flex-end;
    }
    .team_page_data table .user-container span {
      margin-left: 0;
    }
    .team_page_data table .team-access-container {
      min-width: auto;
    }
    .team_page_data table .access_container {
      height: auto;
      width: 75px;
      margin-top: 5px;
    }
    .team-access-container-admin {
      padding-right: 20px;
    }
  }
}
