@font-face {
    font-family: "Open Sans", sans-serif;
    src: url("https://fonts.googleapis.com/css?family=Open+Sans");
}

.data_container_team_page {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 188px;
    right: 0;
    background-color: #333333;
    padding-top: 47px;
    padding-left: 148px;
    padding-right: 148px;
    overflow-y: auto;
}

.team_page_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page_name {
    font-family: "Open Sans", sans-serif;
    line-height: normal;
    font-size: 36px;
    color: #ffffff;
}

.invite_container {
    position: relative;
}

.invite_container button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 208px;
    height: 41px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    color: #ffffff;
    background-color: #27ae60;
    outline: none;
    cursor: pointer;
}

.team_page_data {
    margin-top: 74px;
}

.team_page_data table {
    width: 100%;
    border-spacing: inherit;
}

.team_page_data table th {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    text-align: left;
    color: #ffffff;
    border-bottom: 1px solid #bdbdbd;
}

.team_page_data table td {
    position: relative;
    height: 50px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    color: #ffffff;
}

.team_page_data table .access_container {
    width: 114px;
    height: 30px;
    background: #27ae60;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team_page_data table .access_container.red {
    background-color: red;
}

.wrapper_team_page .edit_button {
    position: absolute;
    top: 21px;
    right: 8px;
    margin-top: -2px;
    margin-left: 18px;
    width: 15px;
    height: 15px;
    background: url("../../images/icons/baseline-create-24px.svg") no-repeat
    center;
    cursor: pointer;
    background-size: 20px;
}
