.technology-wrapper {
  width: 100%;
  position: relative;
}
.technology {
  width: 100%;
  background-color: #4f4f4f;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 1rem;

  &--light {
    background-color: #ffffff;
    border: 1px solid #828282;
  }

  &__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.2rem;
  }
  &__list-tag {
    font-size: 1.6rem;
    line-height: 2.2rem;
    background: #e9e9e9;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 0.5rem 1rem;
    margin: 0 1rem 1rem 0;

    &--light {
      background: #3f51b5;
      color: #fff;
    }

    &-remove-icon {
      margin-left: 1rem;
      cursor: pointer;
    }
  }
  &__search {
    display: flex;
    align-items: center;
    
    &-input {
      background-color: inherit;
      border: none;
      outline: none;
      color: #fff;
      font-size: 1.6rem;
      line-height: 2.2rem;
      width: 100%;
      margin-right: 1rem;

      &--light {
        color: #333333;
      }
    }

    &-add {
      color: #ffffff;
      background: #27ae60;
      border-radius: 4px;
      font-size: 1.2rem;
      line-height: 1.2rem;
      font-weight: 800;
      padding: 0 0.8rem;
      white-space: nowrap;
      padding:10px 5px;
      
    }
    @media screen and (max-width: 894px){
      &-add { 
      padding: 5px 3px; 
      margin:0;
      }
  }
  }
}
.technology__suggestions {
  width: 100%;
  background-color: #4f4f4f;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 1rem;
  position: absolute;
  top: 105%;

  &--light {
    background-color: #ffffff;
    border: 1px solid #828282;
  }

  &-item {
    color: #fff;
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 1.2rem;
    cursor: pointer;

    &--light {
      color: #333333;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
