@font-face {
    font-family: "Open Sans", sans-serif;
    src: url("https://fonts.googleapis.com/css?family=Open+Sans");
}

.wrapper_authorisation_page {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #3b3b3b;
}

.authorisation_window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    width: 284px;
    padding: 22px;
    z-index: 2;
}

.input_container {
    position: relative;
    margin-top: 52px;
}

.authorisation_window .input_container:first-of-type {
    margin-top: 28px;
}

.wrapper_authorisation_page input {
    height: 47px;
    width: calc(100% - 24px);
    outline: none;
    padding-left: 16px;
    border: 1px solid #828282;
    border-radius: 4px;
    color: black;
}

.wrapper_authorisation_page input:focus {
    border-color: #56ccf2;
}

.input_title {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    color: #333333;
    position: absolute;
    top: -27px;
}

.wrapper_authorisation_page .login_button {
    margin-top: 40px;
    width: 100%;
    height: 41px;
    background: #27ae60;
    border-radius: 5px;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    cursor: pointer;
}

.page_title {
    position: absolute;
    width: 400px;
    height: 100px;
    background: url("../../images/logo_L_A.svg") no-repeat center;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper_authorisation_page .registration_button {
    margin-top: 12px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    background-color: white;
}
