.team_list {
  width: 100%;
  z-index: inherit;
  margin-bottom: 30px;
  height: 150px;
  overflow-x: hidden;
  overflow-y: auto;
}
.team_list::-webkit-scrollbar {
  width: 12px;
}
.team_list::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}
.team_list::-webkit-scrollbar-track {
  border-radius: 10px;
  border: 2 px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}
.team_list ul {
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  background-color: #3b3b3b;
}

.team_list ul li {
  color: #fff;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
}

.team_list ul li div.team_list-item {
  padding: 6px;
  padding-left: 44px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  position: relative;
}

.team_list ul li div.team_list-item.active {
  padding: 6px 20px 6px 20px;
  margin: 0 13px 0 25px;
  background: #2b2b2b;
  border-radius: 60px;
}

.team_list li.selected {
  background: #333333;
}

.team_list li:hover {
  background: #333333;
}

.active-point {
  height: 8px;
  width: 8px;
  background: #27ae60;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 4px);
  right: 10px;
}
