.team_list {
  width: 100%;
  z-index: inherit;
  margin-bottom: 10px;
  overflow: hidden;
}
.team_list .team_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 21px;
  cursor: pointer;
  width: 100%;
}
.team_list .team_link:hover {
  background-color: #4f4f4f;
}
.team_list .team {
  width: 20px;
  height: 20px;
  background: url("../../images/icons/team.svg") no-repeat center;
}
.team_list .team_text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
  color: #ffffff;
  margin-left: 8px;
  text-transform: capitalize;
}
.team_list .arrow_closed,
.team_list .arrow_open,
.team_list .arrow_closed_mobile,
.team_list .arrow_open_mobile {
  width: 28px;
  height: 28px;
  background: url("../../images/icons/arrow-down.svg") no-repeat center;
  transition: all 0.3s;
}
.team_list .arrow_closed {
  transform: rotate(-90deg);
}
.team_list .arrow_open {
  transform: rotate(90deg);
}
.team_list .arrow_closed_mobile {
  transform: rotate(180deg);
}
.team_list .arrow_open_mobile {
  transform: rotate(0deg);
}
