.team_list {
    width: 100%;
    z-index: inherit;
    margin-bottom: 30px;
}

.team_list ul {
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    background-color: #3b3b3b;
}

.team_list ul li {
    color: #fff;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
}

.team_list ul li div.team_list-item {
    padding: 6px;
    padding-left: 44px;
    max-width: 125px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.team_list li.selected {
    background:#333333;
}

.team_list li:hover {
    background: #333333;
}
