.clients-list__item {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid #4a4a4a;
  .email-edit-wrapper {
    display: flex;
    width: 50%;
    justify-content: space-between;
    @media (max-width: 680px) {
      width: auto;
    }
  }
  &-data-wrapper {
    width: 45%;
    display: flex;
    align-items: center;
    @media (max-width: 680px) {
      width: auto;
    }
    .arrow-space{
      cursor: pointer;
    }
    .arrow-up,
    .arrow-down {
      margin-bottom: 10px;
      margin-top: 10px;
      cursor: pointer;
      margin-right: 16px;
      height: 7px;
      width: 11px;
      background: url("../../images/icons/arrow-down.svg") no-repeat center;
      transition: all 0.3s;
    }
    .arrow-up {
      transform: rotate(180deg);
    }
  }

  .client_arrow {
    min-width: 27px;
  }

  .client_avatar {
    display: inline-block;
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #c4c4c4;
    margin-right: 22px;
  }
  .avatar-cover {
    background-size: cover;
  }

  .client_name {
    display: flex;
    width: calc(100% - 27px);
    .client_name_title {
      margin-right: 8px;
      white-space: nowrap;
    }
    .client_name_value {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  
}

.client_edit {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
  path {
    stroke: white;
  }
  &:hover path {
    stroke: #27ae60;
  }
}

.clients_project_container {
  margin-top: 20px;
  width: 100%;
}
.clients-list__additional-information {
  transition-delay: 500ms;
  padding-left: 79px;
  .common-block {
    border-top: 1px solid #4a4a4a;
  }
  
  &-data {
    display: inline-flex;
    flex-direction: column;
    margin-top: 16px;
    margin-bottom: 22px;
    margin-right: 20px;
    div{
      margin-bottom: 22px;
    }
    div:last-child{
      margin-bottom: 0;
    }
    
    .project {
      display: flex;
      flex-wrap: wrap;
      div{
        margin-bottom: 0;
        display: flex;
        align-items: center;
      }
      .project-title {
        display: flex;
        align-items: center;
        margin-right: 18px;
        @media (max-width: 680px) {
          margin: 0 0 5px 0;
          width: 100%;
        }
      }
      .circle {
        width: 7px;
        height: 7px;
        border-radius: 50%;
        margin-right: 8px;
      }
    }
    @media (max-width: 795px) {
      &:first-child {
        display: none;
      }
    }
  }
}
@media (max-width: 680px) {
  .clients-list__item {
    flex-wrap: nowrap;
    .client_name{
      
      flex-direction: column;
    }
    .client_mail {
      margin: 0;
      max-width: 60%;
      word-break: break-all;
    }
    .client_avatar {
      margin-right: 5px;
    }
    .arrow-down,
    .arrow-up {
      margin-right: 6px;
      margin-left: 3px;
    }
  }
}
