.total-invoice-counters {
    &__container {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    &__block {
      min-width: 350px;
  
      &-title {
        font-size: 24px;
        margin-bottom: 10px;
      }
      &-summ {
        font-size: 36px;
        font-weight: 900;
        background-color: rgba(255, 255, 255, 0.06);
        text-align: center;
        padding: 23px 0;
        box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
      }
    }
  }