.wrapper_authorisation_page {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: normal;
    font-size: 1.4rem;
    background-color: #3b3b3b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem 0 2rem;
}

.authorisation_window {
    display: flex;
    flex-direction: column;
    padding: 2.2rem;
    background-color: #ffffff;
    width: 100%;
    max-width: 31.3rem;
    margin: 0 0 1rem 0;
    border-radius: 0.4rem;
}

.input_container {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 0 2rem 0;
}

.wrapper_authorisation_page input {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding: 1.5rem;
    border: 1px solid #828282;
    outline: none;
    border-radius: 0.4rem;
    color: black;
    font-size: 1.4rem;
    line-height: 1.9rem;

}

.input_title {
    margin: 0 0 1rem 0;
    color: #333333;
}

.wrapper_authorisation_page .login_button {
    font-family: 'Open Sans', sans-serif;  
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.9rem;
    padding: 1rem 0;
    color: white;
    border-radius: 0.5rem;
    background: #27ae60;
    margin: 0 0 2rem 0;
}

.page_title {
    width: 196px;
    height: 46px;
    background: url("../../images/wobbly_logo_auth.png") no-repeat center;
    background-size: 196px 46px;
    margin: 0 0 2rem 0;
}

.wrapper_authorisation_page .forgot_password_button {
    font-style: normal;
    cursor: pointer;
    color: #2D9CDB;
    background-color: white;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.9rem;
    
}

.wrapper_authorisation_page .register-block__button--to-login {
    font-style: normal;
    cursor: pointer;
    color: #2D9CDB;
    background: none;
    padding: 1rem 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.9rem;
}
