.wrapper_authorisation_page {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: normal;
  font-size: 1.4rem;
  background-color: #3b3b3b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 2rem 2rem 2rem;
  min-height: 538px;
  position: relative;

  .authorisation_window {
    display: flex;
    flex-direction: column;
    padding: 2.2rem;
    background-color: #ffffff;
    width: 100%;
    max-width: 31.3rem;
    margin: 0 0 1rem 0;
    border-radius: 0.4rem;
  }

  .input_container {
    display: flex;
    flex-direction: column;
    margin: 0 0 2rem 0;

    &:first-child {
      margin: 0 0 0.4rem 0;
    }
  }

  input {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    padding: 1.5rem;
    border: 1px solid #828282;
    outline: none;
    border-radius: 0.4rem;
    color: black;
    font-size: 1.4rem;
    line-height: 1.9rem;
  }

  .input_title {
    position: static;
    margin: 0 0 1rem 0;
    color: #333333;
  }

  .login_button {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.9rem;
    padding: 1rem 0;
    color: white;
    border-radius: 0.5rem;
    background: #27ae60;
    margin: 0 0 2rem 0;
  }

  .page_title {
    width: 196px;
    min-height: 46px;
    background: url("../../images/wobbly_logo_auth.png") no-repeat center;
    background-size: 196px 46px;
    margin: 0 0 2rem 0;
  }

  .forgot_password_button {
    font-style: normal;
    cursor: pointer;
    color: #2d9cdb;
    background-color: white;

    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.9rem;
  }

  .register-block__button--to-login {
    font-style: normal;
    cursor: pointer;
    color: #2d9cdb;
    background: none;
    padding: 1rem 0;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.9rem;
  }
}

@media screen and (min-height: 650px) {
  .wrapper_authorisation_page {
    padding: 2rem;
  }
}
