.wrapper_clients_page {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-size: 14px;
  .data_container_clients_page {
    padding: 0px 56px 0;
  }

  .wrapper_clients_search_bar {
    width: 100%;
    height: 59px;
    background-color: #4f4f4f;
    display: flex;
    align-items: center;
  }

  .clients_search_bar_select_wrapper {
    width: 55px;
  }

  .wrapper_clients_search_bar .clients_search_bar_select_wrapper {
    margin-left: 30px;
  }

  .clients_search_bar_search_field_container {
    width: 100%;
    position: relative;
    margin-left: 22px;
  }

  .clients_search_bar_search_field_container .magnifer {
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 100%;
    background: url("../../images/magnifying-glass.svg") no-repeat center;
  }

  .clients_search_bar_search_field_container input {
    width: 94%;
    margin-left: 46px;
    outline: 0;
    border: 0;
    background-color: transparent;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    color: #ffffff;
  }

  .clients_search_bar_button_container {
    height: 100%;
    width: 208px;
  }

  .clients_search_bar_button_container button {
    width: 100%;
    height: 100%;
    background-color: #616161;
    color: white;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    cursor: pointer;
  }
  .clients_list_container {
    margin-top: 53px;
    border-top: 1px solid #4A4A4A;
  }
  .borderOf {
    border-top: none;
  }
  
  .animation_cat {
    width: 430px;
    height: 420px;
  }
}

.wrapper_clients_page--mobile {
  .data_container_clients_page {
    padding: 1rem;
  }
  @media screen and (max-width: 894px) {
    .clients_page_header {
      flex-direction: column;
      padding-bottom: 30px;
    }
    .add_client_button {
      margin-top: 20px;
    }
    .wrapper_clients_search_bar {
      height: 40px;
    }
    .clients_search_bar_search_field_container {
      margin-left: 10px;
    }
    .clients_search_bar_search_field_container input {
      margin-left: 25px;
      width: 80%;
    }
    .clients_list_container {
      margin-top: 30px;
      border-top: 1px solid #4A4A4A;
    }
    .clients_list_item.list-header {
      display: none;
    }
    .clients_list_item {
      flex-direction: column;
      align-items: initial;
      position: relative;
    }
    .client_time::before {
      content: attr(data-label);
      font-family: "Open Sans", sans-serif;
      font-size: 13px;
      color: #bdbdbd;
    }
    .client_list_item_right_container {
      margin-top: 25px;
    }
    
  }
}
@media (max-width: 680px) {
  .wrapper_clients_page{
    font-size: 12px;
  }
}
