.all-invoices-list {
  width: 100%;
  font-size: 14px;
  line-height: 19px;
  &__title-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    border-left: 8px solid #333;
    padding-bottom: 8px;
    margin-bottom: 8px;
    font-weight: bold;
    &:after {
      content: '';
      display: block;
      width: calc(100% + 8px);
      height: 1px;
      background: #BDBDBD;
      position: absolute;
      bottom: 0;
      left: -8px;
    }
    .data-wrapper {
      padding-left: 0;

      width: 50%;
      display: flex;
      justify-content: space-between;
      .invoice-number-title {
        .mobile-slash-separator {
          display: none;
        }
      }
      @media screen and (max-width: 750px) {
        .invoice-number-title {
          .mobile-slash-separator {
            display: inline;
          }
        }
      }
      .invoice-client-title {
        width: 60%;
      }
      .date-wrapper {
        display: flex;
        width: 60%;
        justify-content: space-between;
        .invoice-issued-title {
          width: 50%;
          .mobile-slash-separator {
            display: none;
          }
        }
        @media screen and (max-width: 750px) {
          .invoice-issued-title {
            width: 50%;
            .mobile-slash-separator {
              display: inline;
            }
          }
        }
        .invoice-due-title {
          width: 50%;
        }
      }
      @media screen and (max-width: 750px) {
        .date-wrapper {
          flex-direction: column;
          .invoice-issued-title{
            width: 100%;
          }
          .invoice-due-title{
            width: 100%;
          }
        }
      }
      .invoice-price-title-wrapper {
        width: 40%;
        display: flex;
      }
    }
    .data-wrapper:first-child {
      width: 34%;
      padding-left: 20px;
    }
    @media screen and (max-width: 750px) {
      .data-wrapper:first-child {
        flex-direction: column;
        padding-left: 10px;
      }
    }

    .invoice-status-title {
      width: 12%;
      display: flex;
      justify-content: center;
      // margin-left: -35px;
      // margin-left: -40px;
    }
    .invoice-instruments-title {
      width: 9%;
      margin-right: 15px;
      margin-left: 10px;
    }
    @media screen and (max-width: 1200px) {
      .invoice-instruments-title {
        width: 20px;
        margin: 0;
      }
    }
  }
  .tool-tip {
    background-color: #ffffff;
    color: #333333;
    width: fit-content;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .all-invoices-list-item-container {
    position: relative;
  }
}
@media screen and (max-width: 550px) {
  .all-invoices-list{
    font-size: 12px;
    &__title-wrapper:after {
      width: calc(100% - 8px);
      left: 0;
    }
  }
}
