.wrapper_projects_page {
  height: 100%;
  width: 100%;
  position: relative;

  .data_container_projects_page {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333333;
    padding: 25px 40px 0;
    overflow-y: auto;
  }

  .project_data_wrapper {
    margin-top: 6%;
  }

  .delete {
    width: 24px;
    height: 24px;
    background: url("../../images/icons/waste-bin.svg") no-repeat center;
  }
}

.wrapper_projects_page--mobile {
  .data_container_projects_page {
    padding: 1rem;
  }

  .project_page_filters {
    margin-top: 30px;
  }
  .wrapper_project_search_bar {
    height: 40px;
  }
  .project_search_bar_search_field_container {
    margin-left: 10px;
  }
  .project_search_bar_search_field_container input {
    margin-left: 25px;
    width: 80%;
  }

  @media screen and (max-width: 894px) {
    .create_projects_modal_container {
      width: 100%;
      max-width: 350px;
    }
    .create_projects_modal_data_input_container {
      flex-wrap: wrap;
    }
    .clients_list_wrapper {
      margin-left: 0;
      width: 100%;
      margin-top: 35px;
    }
    .create_projects_modal_button_container {
      justify-content: center;
      margin-top: 14px;
    }
    .create_projects_modal_button_container_button {
      margin-right: 0;
    }
    .edit_projects_modal_container {
      width: 100%;
      max-width: 350px;
    }
    .edit_projects_modal_data_input_container {
      flex-wrap: wrap;
    }
    .edit_projects_modal_button_container {
      justify-content: center;
      margin-top: 14px;
    }
    .edit_projects_modal_button_container_button {
      margin-right: 0;
    }
    .project_data_wrapper {
      margin-top: 30px;
    }
    table {
      border-top: 1px solid #bdbdbd;
    }
    thead {
      display: none;
    }
    .project_data_wrapper table tbody td {
      padding: 10px 0;
      position: static;
      height: auto;
      min-height: 50px;
    }
    .project_data_wrapper table tbody td:first-child {
      width: 85%;
    }
    td:before {
      content: attr(data-label);
      font-size: 13px;
      color: #bdbdbd;
    }
    tr {
      display: flex;
      flex-direction: column;
      position: relative;
    }
    .edit_button {
      top: 50%;
      transform: translateY(-50%);
      right: 5px;
      width: 30px;
      height: 30px;
      background-size: cover;
      margin: 0;
    }
  }
}
