.wrapper_projects_page {
  height: 100%;
  width: 100%;
  position: relative;

  .data_container_projects_page {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #333333;
    padding: 25px 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }

  .data_container_projects_page_top {
    padding: 0 40px;
    @media (max-width: 768px) {
      padding: 0;
    }
  }

  // .project_data_wrapper {
  //   margin-top: 6%;
  // }

  .delete {
    width: 24px;
    height: 24px;
    background: url("../../images/icons/waste-bin.svg") no-repeat center;
  }
  .project-page-filters {
    margin-bottom: 20px;
    &__clear {
      display: flex;
      justify-content: flex-end;
      padding: 10px 0;
    }
    &__button {
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      text-decoration: underline;
      color: #2d9cdb;
      cursor: pointer;
    }
  }
}

.wrapper_projects_page--mobile {
  .data_container_projects_page {
    padding: 1rem;
  }

  .project-page-filters {
    margin-top: 30px;
  }
  .wrapper_project_search_bar {
    height: 40px;
  }
  .project_search_bar_search_field_container {
    margin-left: 10px;
  }
  .project_search_bar_search_field_container input {
    margin-left: 25px;
    width: 80%;
  }
  .edit_button {
    width: 20px;
    height: 20px;
  }

  @media screen and (max-width: 894px) {
    .header-wrapper {
      margin-bottom: 0;
    }
    .create_projects_modal_container {
      width: 100%;
      max-width: 350px;
    }
    .create_projects_modal_data_input_container {
      flex-wrap: wrap;
    }
    .clients_list_wrapper {
      margin-left: 0;
      width: 100%;
      margin-top: 35px;
    }
    .create_projects_modal_button_container {
      justify-content: center;
      margin-top: 14px;
    }
    .edit_projects_modal_container {
      width: 100%;
      max-width: 350px;
    }
    .edit_projects_modal_data_input_container {
      flex-wrap: wrap;
    }
    .edit_projects_modal_button_container {
      justify-content: center;
      margin-top: 14px;
    }
    .project_data_wrapper {
      margin-top: 30px;
      padding: 0;
      height: 100%;
    }
    .project_data_table {
      border-top: 1px solid #bdbdbd;
    }
    thead {
      display: none;
    }
    .project_data_wrapper table tbody td {
      width: auto;
      padding: 10px 0;
      position: static;
      height: auto;
      min-height: 40px;
    }
    td:before {
      content: attr(data-label);
      font-size: 13px;
      color: #bdbdbd;
    }
    .project_data_row {
      display: flex;
      flex-direction: column;
      position: relative;
    }
    .edit_button {
      top: 78%;
      // transform: translateY(-50%);
      right: 5px;
      width: 25px;
      height: 25px;
      background-size: cover;
      margin: 0;
    }
    .project-row-data__toggle-container {
      order: 1;
    }
  }
}
