.wrapper_projects_page {
  height: 100%;
  width: 100%;
  position: relative;

  .data_container_projects_page {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333333;
    padding-top: 47px;
    padding-left: 56px;
    padding-right: 56px;
    overflow-y: auto;
  }

  .projects_page_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .projects_page_title {
    font-family: "Open Sans", sans-serif;
    line-height: normal;
    font-size: 36px;
    color: #ffffff;
  }

  .create_project_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 208px;
    height: 41px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    color: #ffffff;
    background-color: #27ae60;
    outline: none;
    cursor: pointer;
  }

  .project_page_filters {
    margin-top: 67px;
  }

  .project_data_wrapper {
    margin-top: 6%;
  }

  .delete {
    width: 24px;
    height: 24px;
    background: url("../../images/icons/waste-bin.svg") no-repeat center;
  }
}

.wrapper_projects_page--mobile {
  .data_container_projects_page {
    padding: 1rem;
  }
  .project_page_filters {
    margin-top: 30px;
  }
  .wrapper_project_search_bar {
    flex-direction: column;
    height: auto; 
    padding: 10px;   
  }
  .wrapper_project_search_bar_dropmenu {
    width: 100%;
  }
  .dropmenu_select_wrapper {
    border: none;
    padding: 0;
  }  
  .project_search_bar_search_field_container,.wrapper_project_search_bar_dropmenu {
    margin: 0;
    margin-bottom: 10px;
    border: 1px solid #5D5D5D;
    border-radius: 4px;
    padding: 10px;
  }
  .project_search_bar_search_field_container input {
    margin-left: 25px;
    width: calc(100% - 25px);
    box-sizing : border-box;
  }
  .project_search_bar_search_field_container i {
    margin-left: 5px
  }
  .project_search_bar_button_container button {
    height: 42px;
    width: 100%;
  }

  @media screen and (max-width: 894px) {
    .projects_page_title {
      width: 100%;
      text-align: center;
    }
    .projects_page_header {
      flex-wrap: wrap;
      justify-content: center;
    }
    .create_project_button {
      margin-top: 20px;
    }
    .create_projects_modal_container {
      width: 100%;
      max-width: 350px;
    }
    .create_projects_modal_data_input_container{
      flex-wrap: wrap;
    }
    .clients_list_wrapper {
      margin-left: 0;
      width: 100%;
      margin-top: 35px;
    }
    .create_projects_modal_button_container {
      justify-content: center;
      margin-top: 14px;
    }
    .create_projects_modal_button_container_button {
      margin-right: 0;
    }
    .edit_projects_modal_container {
      width: 100%;
      max-width: 350px;
    }
    .edit_projects_modal_data_input_container{
      flex-wrap: wrap;
    }
    .edit_projects_modal_button_container {
      justify-content: center;
      margin-top: 14px;
    }
    .edit_projects_modal_button_container_button {
      margin-right: 0;
    }
    .project_data_wrapper {
      margin-top: 30px;
    }
    table {
      border-top: 1px solid #bdbdbd;
    }
    thead {
      display: none;
    }
    .project_data_wrapper table tbody td {
      padding: 10px 0;
      position: static;
      height: auto;
      min-height: 50px;
    }
    .project_data_wrapper table tbody td:first-child {
      width: 85%;
    }
    td:before {
      content: attr(data-label);
      font-size: 13px;
      color: #bdbdbd;
    }
    tr {
      display: flex;
      flex-direction: column;
      position: relative;
    }
    .edit_button {
      top: 50%;
      transform: translateY(-50%);
      right: 5px;
      width: 30px;
      height: 30px;
      background-size: cover;
      margin: 0;
    }
  }
}
