.play-icon-large-mobile {
  position: fixed;
  z-index: 5;
  width: 5rem;
  height: 5rem;
  bottom: 1.5rem;
  right: 2.5rem;
  border-radius: 50%;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
}

.current-task-mobile {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  color: #ffffff;

  .current-task-mobile__task-info {
    height: 5rem;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .current-task-mobile__task-timer {
    font-size: 1.8rem;
    margin: 0 0 0.7rem 0;
  }
  .current-task-mobile__task-name {
    font-size: 1.4rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
  }

  .current-task-mobile__stop-icon-wrapper {
    position: absolute;
    right: 1rem;
    height: 5rem;
    width: 5rem;
    background-color: #333333;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: -3rem;
        height: 5rem;
        width: 3rem;
        background: linear-gradient(
            to left,
            rgba(51, 51, 51, 1) 0%,
            rgba(51, 51, 51, 0) 100%
        );
    }
  }

  .current-task-mobile__stop-icon {
    width: 5rem;
    height: 5rem;
  }
}
