@keyframes slowVisibility {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.modal-info {
  position: absolute;
  top: 15px;
  right: 15px;
  max-width: 350px;
  min-height: 85px;
  box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  background: white;
  color: #333333;
  line-height: 25px;
  z-index: 1000;
  display: flex;
  cursor: pointer;
  animation: slowVisibility 0.3s ease-in;

  &::before {
    content: "+";
    position: absolute;
    transform: rotate(45deg);
    right: 8px;
    font-weight: 800;
    font-size: 16px;
    opacity: 0.3;
  }
  &--hidden {
    display: none;
  }
  &--mobile {
    width: calc(100% - 40px);
    right: 20px;
    max-width: 380px;
  }
  .modal-info-icon {
    width: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px 0 0 4px;
    box-shadow: 6px 0px 12px -1px rgba(0, 0, 0, 0.21);

    &--lost-connection {
      background: #f2994a;
    }
    &--connection-restored {
      background: #27ae60;
    }
    &--team-switched {
      background: #4A5BF2;
    }
    &--success {
      background: #00A92F;
    }
    &--warning {
      background: #FCB500;
    }
    &--error {
      background: #D70101;
    }
  }
  .modal-info-text {
    width: 265px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 22px;

    p {
      padding: 10px;
      margin: 0 0;
      font-size: 15px;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
    }
  }
}
