@font-face {
    font-family: "Open Sans", sans-serif;
    src: url("https://fonts.googleapis.com/css?family=Open+Sans");
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #333;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

button {
    border: 0;
    outline: 0;
}

input {
    outline: 0;
}

input:focus {
    border-color: #56ccf2;
}

button {
    cursor: pointer;
}

.error {
    border: 1px solid red !important;
}

.mobile-support-toastr {
    background: #4f4f4f;
    color: #fff;
    line-height: 22px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 15px;
}

.mobile-support-toastr .Toastify__close-button {
    color: #fff;
    opacity: 0.6;
}

.mobile-support-toastr .Toastify__toast-body {
    padding: 0 10px
}
