.zip-input {
  width: 50%;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0 0;

  .zip-input__title {
    color: #fff;
    margin: 0 0 1rem 0;
  }

  .zip-input_select {
    width: 100%;
    position: relative;
    padding: 1.1rem 3rem 1.1rem 1.8rem;
    border-radius: 0.4rem;
    background: #4f4f4f;
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif;
    line-height: 2.2rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    color: #d8d8d8;
    outline: none;
    border: none;

    &::placeholder {
      font-size: 1.5rem;
      color: #d8d8d8;
    }

   

    &:hover {
      cursor: pointer;
    }
  }


}
