.cat-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .animation-cat{
    width: 230px;
    height: 250px;
    position: relative;
    right: -30px;
  }
  .animation-cat-comment{
    color:#ffffff;
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    position: relative;
    margin-top: -50px;
  }
  
@media screen and (max-width: 1024px) {
  .animation-cat{
    right: -40px;
  }
}
@media screen and (max-width: 414px) {
  .animation-cat{
    width: 50%;
    height: 70%;
    right: -20px;
  }
  .animation-cat-comment{
    top: 40px;
    font-size: 16px;
    margin-top: -70px;
  }
}

