.invoices-page-detailed {
  //todo use this background around whole theme
  background: #1F1F1F;

  min-width: 844px;
  padding-bottom: 40px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  //line-height: 25px;
  color: #FFFFFF;

  &--horizontal-padding {
    padding: 0 80px 40px 80px;
  }

  &--disabled {
    background: #292929;
    box-shadow: 0 10px 38px rgba(0, 0, 0, 0.25);
  }

  &__input {
    width: 100%;
    color: #FFFFFF;
    background: #3F3F3F;
    border-radius: 4px;
    padding: 12px 14px;
    border: none;

    &::placeholder {
      color: #FFFFFF;
    }

    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:disabled {
      background: #292929;
      box-shadow: 0 10px 38px rgba(0, 0, 0, 0.25);
    }
  }

  &__textarea {
    margin-top: 20px;
    min-height: 185px;
    background: #242424;
    resize: none
  }

  &__icon-button {
    cursor: pointer;
  }

  &__calendar-select {
    margin-top: 5px;
  }

  &__header {
    padding: 46px 60px 32px 60px;
    display: flex;
    align-items: center;

    &--no-horizontal-padding {
      padding: 46px 0 32px 0;

    }
  }

  &__back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    padding-right: 20px;
    cursor: pointer;
  }

  &__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
  }

  &__subtitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
  }

  &__top {
    padding: 0 50px;
  }

  &__main-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  &__main-data-form {
    width: 365px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    label {
      font-weight: bold;
    }

    input {
      margin-top: 5px;
    }
  }

  &__left {
    display: flex;
    flex: 4;
  }

  &__tools {
    flex: 3;
    display: flex;
    justify-content: flex-end;
    align-self: stretch;
  }

  &__tools-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;
  }

  &__tool-button {
    padding: 0;
    display: flex;
    cursor: pointer;
    outline: none;
    background: none;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    text-decoration: none;

    span {
      padding-left: 18px;
    }
  }

  &__logo {
    min-width: 260px;
    min-height: 260px;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-right: 27px;

    &--empty {
      border: 2px dashed #FFFFFF;
    }

  }

  &__personal-information {
    display: flex;
    justify-content: space-between;
    margin-bottom: 84px;
  }

  &__personal-information-card {
    flex: 1;

    &:first-child {
      margin-right: 32px;
    }
  }
  &__personal-information-card-body {
    background: #292929;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 145px;
  }

  &__projects {
    padding-bottom: 60px;
  }

  &__summary {
   padding: 0 36px 50px 36px;
  }

  &__summary-table {
  padding-top: 20px;
  }

  &__summary-table-row {
    padding: 0 35px;
    height: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    background: #242424;

    &:nth-child(2n) {
      background: #1F1F1F;
    }
  }

  &__summary-title {
    font-weight: bold;
  }
  &__summary-price {
    padding-left: 14px;
  }

  &__summary-currency {
    font-weight: normal;
    padding-left: 14px;
  }

  &__summary-total {
    display: flex;
  }

  &__comments {
    padding: 0 36px;
  }

  &__actions {
    padding: 30px 50px 0 50px;
    display: flex;
  }

  &__action-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    width: 192px;
    background: #27AE60;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    text-transform: capitalize;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;

    &:nth-child(2n) {
      background: #EB5757;
      margin-left: 30px;
    }
  }
}
