.main-page {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  padding: 0.5rem 5.6rem 0;
  font-size: 1.2rem;
  line-height: 1.6rem;
  overflow: hidden;
  height: 100%;

  .main-page__list {
    flex-grow: 1;
    // -webkit-overflow-scrolling: touch;
  }

  .main-page__day {
    margin: 0 0 2.6rem 0;
    padding: 1rem;
    background: #4f4f4f;
  }

  .main-page__day-header {
    display: flex;
    justify-content: space-between;
    color: #b8b8b8;
    padding: 0 0.5rem 0 0.5rem;
    margin: 0 0 1rem 0;
  }

  .main-page__day-date {
    font-weight: 700;
  }

  .main-page__day-all-time {
  }

  .main-page__lazy-load-spinner {
    min-height: 5rem;
    min-width: 100%;
  }
}

.main-page--mobile {
  padding: 0 1rem 0 1rem;

  .main-page__day {
    padding: 1rem 0 1rem 0;
    &--last-child {
      margin: 0 0 0 0;
    }
  }

  .main-page__lazy-load-spinner {
  }

  .main-page__empty-block {
    min-width: 100%;
    min-height: 8rem;
  }
}
