@font-face {
    font-family: "Open Sans", sans-serif;
    src: url("https://fonts.googleapis.com/css?family=Open+Sans");
}

/* start header */

.main-header {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
}

.main-header__small-logo {
    width: 7.7rem;
    height: 1.8rem;
    background: url("../../images/wobbly_logo.png") no-repeat center;
    background-size: cover;
}

.main-header__show-menu-button {
    cursor: pointer;
    position: absolute;
    right: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    outline: none;
    border: none;
}

.main-header__show-menu-button span {
    color: #ffffff;
    font-size: 2rem;
}

/* end header */


.wrapper_main_page {
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
}

.data_container {
    display: flex;
    flex-direction: column;
    padding: 0 1rem 1rem 1rem;
    flex-grow: 1;
    overflow: hidden;
}

.main_wrapper_tracker_items {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
}

.time_tracker_wrapper {
    background: #4F4F4F;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
    margin: 0 0 1rem 0;
    padding: 1rem;
}

.time_tracker_wrapper:last-child {
    margin: 0;
}

.time_tracker_wrapper .header {
    display: flex;
    justify-content: space-between;
    color: #B8B8B8;
}

.time_tracker_wrapper .header .date {
    font-weight: 700;
    margin: 0 0 1rem 0;
}

.time_tracker_wrapper .header .allTime {
    
}


.time_tracker_wrapper .ul {
    margin: 0 0 1rem 0;
}

.time_tracker_wrapper .ul:last-child {
    margin: 0;
}

.time_tracker_wrapper .li {
    display: flex;
    padding: .5rem;
    font-size: 1.4rem;
    line-height: 1.9rem;
    border-radius: 0.4rem;
}

.time_tracker_wrapper .name_container {
    flex-grow: 1;
    overflow: hidden;
    margin: 0 1rem 0 0;
}

.time_tracker_wrapper .time_container_history {
    display: flex;
    
}

.name_container .name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.name_container .project_name {
    
}

.time_container_history {
    display: flex;
    justify-content: center;
    align-items: center;
}

.time_container_history .time_now {
    /* display: flex; */
    display: none;
    margin: 0 1rem 0 0;
}

.time_container_history .timePassed {
    display: none;
    margin: 0 1rem 0 0;
    /* margin: 0; */
}

/* start old styles */

.small_play {
    width: 2rem;
    height: 2rem;
    background: url("../../images/icons/small_play.svg") no-repeat center;
    cursor: pointer;
    /* margin: 0 1rem 0 0; */
    margin: 0;
}

.cancel {
    display: none;
    width: 2rem;
    height: 2rem;
    background: url("../../images/icons/cancel.svg") no-repeat center;
    cursor: pointer;
    margin: 0 1rem 0 0;
}

.edit_button {
    display: none;
    width: 2rem;
    height: 2rem;
    background: url("../../images/icons/baseline-create-24px.svg") no-repeat center;
    cursor: pointer;
    background-size: cover;
    /* margin: 0 1rem 0 0; */
}

.time_container_history .item_button {
    display: none;
}

.wrapper_main_page .li:hover {
    
    background-color: #333333;
}


span.circle {
    display: inline-block;
    margin-right: 0.5rem;
    width: 0.8rem;
    height: 0.8rem;
    border: 1px solid white;
    border-radius: 50%;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.pink {
    background-color: pink;
}


/*  */
.add_task_container {
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 0.4rem;

    background: #4F4F4F;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
    margin: 0 0 1rem 0;
    padding: 1rem;
}

.wrapper-timer-mobile {
    display: flex;
    flex-grow: 1;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.add_task_container .add_task {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;
    background: #4F4F4F;
    border: none;
}

.add_task_container .add_task::placeholder {
    color: #ffffff;
}

.add_task_container .time_container {

}

.projects_modal_item_circle {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
}


.projects_modal_item_name {
    margin-left: 7px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    line-height: normal;
    font-size: 14px;
}

.add_task_container .active_project {
    /* display: none; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_task_container .folder {
    /* display: none; */
    position: relative;
    width: 2.4rem;
    height: 2.4rem;
    background: url("../../images/icons/folder-symbol.svg") no-repeat center;
    cursor: pointer;
}

.add_task_container .control_task_time_icons {
    display: block;
    width: 4.7rem;
    height: 4.7rem;
    cursor: pointer;
}

.play {
    background: url("../../images/icons/play.svg") no-repeat center;
}

.stop {
    background: url("../../images/icons/stop.svg") no-repeat center;
}

/* start modal folder project */

.folder .projects_modal_wrapper {
    position: absolute;
    top: 30px;
    left: -210px;
    width: 245px;
    height: 286px;
    padding: 12px;
    background-color: #ffffff;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.25);
}

.folder .projects_modal_wrapper .projects_modal_wrapper_search {
    padding-left: 6px;
    height: 32px;
    width: 222px;
    border: 1px solid #bdbdbd;
}

.folder
.projects_modal_wrapper
.projects_modal_wrapper_search
::-webkit-input-placeholder {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;

    color: #767676;
}

.folder
.projects_modal_wrapper
.projects_modal_wrapper_search
::-moz-placeholder {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;

    color: #767676;
}

.folder
.projects_modal_wrapper
.projects_modal_wrapper_search
:-moz-placeholder {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;

    color: #767676;
}

.folder
.projects_modal_wrapper
.projects_modal_wrapper_search
:-ms-input-placeholder {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;

    color: #767676;
}

.folder .projects_modal_wrapper .projects_modal_data_wrapper {
    overflow-y: scroll;
    height: 230px;
}

.projects_modal_wrapper_header input {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    color: #000;
}

.projects_modal_item {
    display: flex;
    align-items: center;
    height: 32px;
}

.projects_modal_item_name {
    margin-left: 7px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    line-height: normal;
    font-size: 14px;
    color: #000000;
}

.projects_modal_item_circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.projects_modal_item:hover {
    background-color: #e0e0e0;
}

/* end modal folder project */


@media (min-width: 1024px) {

    .wrapper_main_page {
        flex-direction: row;
    }

    .add_task_container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    
    .wrapper-timer-mobile {
        display: flex;
        flex-grow: 0;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .wrapper-timer-mobile .active_project {
        margin: 0 1rem 0 0;
    }

    .wrapper-timer-mobile .folder {
        margin: 0 1rem 0 0;
    }

    .wrapper-timer-mobile .time_container {
        /* margin: 0 1rem 0 0; */
    }
    
    .add_task_container .add_task {
        flex-grow: 1;
        margin-right: 1rem;
    }
    
    .add_task_container .add_task::placeholder {
        color: #ffffff;
    }
    
    .add_task_container .time_container {
    
    }

    .wrapper_main_page .li:hover .time_container_history .item_button {
        display: block;
    }

    /* .time_container_history {
        display: flex;
        justify-content: center;
        align-items: center;
    } */
    
    .time_container_history .time_now {
        display: flex;
        /* display: none; */
        margin: 0 1rem 0 0;
    }
    
    .time_container_history .timePassed {
        /* display: none; */
        display: block;
        margin: 0 1rem 0 0;
        /* margin: 0; */
    }

    .time_tracker_wrapper .name_container {
        display: flex;
        flex-grow: 1;
        overflow: hidden;
        margin: 0 1rem 0 0;
    }

    .name_container .name {
        margin-right: 1rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    
    .name_container .project_name {
        
    }

}
