.wrapper_main_page {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #ffffff;
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;
}

.empty-block {
  width: 100%;
  min-height: 6rem;
}

.data_container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem 1rem;
  flex-grow: 1;
  overflow: hidden;
}

.main_wrapper_tracker_items {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.time_tracker_wrapper {
  background: #4f4f4f;
  margin: 0 0 1rem 0;
  padding: 1rem 0 0 1rem;
}

.time_tracker_wrapper:last-child {
  margin: 0;
}

.time_tracker_wrapper .header {
  display: flex;
  justify-content: space-between;
  color: #b8b8b8;
  padding: 0 1rem 0 0;
}

.time_tracker_wrapper .header .date {
  font-weight: 700;
  margin: 0 0 1rem 0;
}

.time_tracker_wrapper .ul {
  /* margin: 0 0 1rem 0; */
  position: relative;
}

.time_tracker_wrapper .ul:last-child {
  margin: 0;
}

.time_tracker_wrapper .li {
  position: relative;
  background-color: #4f4f4f;
  z-index: 2;
  left: 0;
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 1rem;
  font-size: 1.4rem;
  line-height: 2rem;
  transition: 0.3s linear left;
}

.swipe .li {
  left: -50%;
}

.edit {
  position: absolute;
  display: flex;
  border-radius: 0.4rem;
  right: 0;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 50%;
  border: 1px solid #4f4f4f;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.edit .edit_swipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2994a;
  width: 50%;
  height: 100%;
}

.edit .delete_swipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eb5757;
  width: 50%;
  height: 100%;
}

.edit .edit-icon-swipe {
  background: url("../../images/icons/edit-task-swipe.svg") no-repeat center
    center;
  width: 1.9rem;
  height: 2rem;
  background-size: 1.9rem;
  margin: 0 0 0.5rem 0;
}

.edit .delete-icon-swipe {
  background: url("../../images/icons/delete-task-swipe.svg") no-repeat center
    center;
  width: 1.8rem;
  height: 2rem;
  background-size: cover;
  margin: 0 0 0.5rem 0;
}

.time_tracker_wrapper .name_container {
  flex-grow: 1;
  overflow: hidden;
  margin: 0 1rem 0 0;
}

.name_container .name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.time_container_history {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #b8b8b8;
}

.time_container_history .time_now {
  display: none;
  margin: 0 1rem 0 0;
}

.time_container_history .timePassed {
  display: block;
  margin: 0;
  font-size: 1.2rem;
  /* line-height: 1.6rem; */
}

/* start old styles */

.small_play {
  width: 2rem;
  height: 2rem;
  background: url("../../images/icons/small_play.svg") no-repeat center;
  cursor: pointer;
  margin: 0;
}

.cancel {
  display: none;
  width: 2rem;
  height: 2rem;
  background: url("../../images/icons/cancel.svg") no-repeat center;
  cursor: pointer;
  /* margin: 0 1rem 0 0; */
}

.edit_button {
  display: none;
  width: 1.7rem;
  height: 1.7rem;
  background: url("../../images/icons/baseline-create-24px.svg") no-repeat
    center;
  cursor: pointer;
  background-size: cover;
  margin: 0 1rem 0 0;
}

.time_container_history .item_button .small_play {
  display: block;
}

span.circle {
  display: inline-block;
  margin-right: 0.5rem;
  width: 0.8rem;
  height: 0.8rem;
  /* border: 1px solid white; */
  border-radius: 50%;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.pink {
  background-color: pink;
}

.add_task_container {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 0.4rem;

  background: #4f4f4f;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  margin: 0 0 1rem 0;
  padding: 1rem;
}

.wrapper-timer-mobile {
  display: flex;
  flex-grow: 1;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.add_task_container .add_task {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  background: #4f4f4f;
  border: none;
}

.add_task_container .add_task::placeholder {
  color: #ffffff;
}

.projects_modal_item_circle {
  display: inline-block;
  min-width: 1.2rem;
  min-height: 1.2rem;
  border-radius: 50%;
  margin: 0 0.5rem 0 0;
  vertical-align: middle;
}

.add_task_container .active_project {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add_task_container .folder {
  position: relative;
  width: 2.4rem;
  height: 2.4rem;
  background: url("../../images/icons/folder-symbol.svg") no-repeat center;
  cursor: pointer;
}

.add_task_container .control_task_time_icons {
  display: block;
  width: 3.6rem;
  height: 3.6rem;
  cursor: pointer;
  background-size: 3.6rem;
  border-radius: 50%;
}

.play {
  background: url("../../images/icons/play.svg") no-repeat center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.disabled-play {
  background: url("../../images/icons/play-disabled.svg") no-repeat center;
  box-shadow: none;
}

.stop {
  background: url("../../images/icons/stop.svg") no-repeat center;
}

/* start modal folder project */

.folder .projects_modal_wrapper {
  position: absolute;
  z-index: 5;
  top: 30px;
  left: -210px;
  width: 245px;
  height: 286px;
  padding: 12px;
  background-color: #ffffff;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.25);
}

.folder .projects_modal_wrapper .projects_modal_wrapper_search {
  padding-left: 6px;
  height: 32px;
  width: 222px;
  border: 1px solid #bdbdbd;
}

.folder
  .projects_modal_wrapper
  .projects_modal_wrapper_search
  ::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;

  color: #767676;
}

.folder
  .projects_modal_wrapper
  .projects_modal_wrapper_search
  ::-moz-placeholder {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;

  color: #767676;
}

.folder
  .projects_modal_wrapper
  .projects_modal_wrapper_search
  :-moz-placeholder {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;

  color: #767676;
}

.folder
  .projects_modal_wrapper
  .projects_modal_wrapper_search
  :-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
  color: #767676;
}

.folder .projects_modal_wrapper .projects_modal_data_wrapper {
  overflow-y: scroll;
  height: 230px;
}

.projects_modal_wrapper_header input {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;
  color: #000;
}

.projects_modal_item {
  display: flex;
  align-items: center;
  // height: 32px;
  padding: 7px 0;
}

.active_project > .projects_modal_item_name {
  font-size: 1.4rem;
}

.folder .projects_modal_item_name {
  margin-left: 7px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  line-height: normal;
  font-size: 14px;
  color: #000000;
}

.projects_modal_item:hover {
  background-color: #e0e0e0;
}

/* end modal folder project */

.mobile-play-button-large {
  position: absolute;
  z-index: 8;
  cursor: pointer;
  right: 2.5rem;
  bottom: 1.5rem;
  height: 5rem;
  width: 5rem;
  background-size: cover;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

.mobile-info-block-current-going-task {
  position: relative;
  padding: 0 7rem 1rem 2.4rem;
  color: #ffffff;
}

.mobile-info-block-current-going-task__time {
  font-size: 1.8rem;
  line-height: 2.5rem;
  text-align: center;
}

.mobile-info-block-current-going-task__name-task {
  font-size: 1.4rem;
  line-height: 1.9rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

.mobile-info-block-current-going-task__stop {
  position: absolute;
  right: 1.6rem;
  top: calc(50% - (4.7rem / 2) - 0.5rem);
}

.mobile-info-block-current-going-task .stop {
  display: block;
  height: 4.7rem;
  width: 4.7rem;
  background-size: 4.7rem;
}

/*  start block add task mobile */

.wrapper-add-task-mobile {
  visibility: hidden;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(89, 89, 89, 0.5);
}

.wrapper-add-task-mobile--show {
  visibility: visible;
  animation: 0.3s slowVisibility;
}

.add-task-mobile {
  position: absolute;
  z-index: 99;
  bottom: 0;
  display: block;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  background-color: #ffffff;
  padding: 4rem 2rem 2rem 2rem;
}

.add-task-mobile__label-input {
  margin: 0 0 1rem 0;
  color: #000000;
  font-family: "Roboto", sans-serif;
}

.add-task-mobile .add_task {
  margin-bottom: 1rem;
}

.add-task-mobile__wrapper-serach {
  position: relative;
  margin: 0 0 1rem 0;
}

.projects_modal_item_circle_search {
  position: absolute;
  left: 1rem;
  bottom: calc(50% - (0.7rem / 2));
  display: inline-block;
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 50%;
}

.add-task-mobile .projects_modal_wrapper_search {
  padding-left: 2rem;
}

.add-task-mobile .projects_modal_item_circle {
  height: 0.7rem;
  width: 0.7rem;
  margin: 0 0.5rem 0 0;
}

.add-task-mobile .active_project {
  outline: none;
  background-color: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  padding: 1rem 2rem;
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5rem;
  width: 100%;
}

.add-task-mobile .projects_modal_data_wrapper {
  margin-bottom: 1rem;
  width: 100%;
  color: #000000;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  max-height: 14.78rem;
  overflow-y: auto;
}

.add-task-mobile .projects_modal_item {
  padding: 1.05rem 1rem;
  line-height: 1.5rem;
  height: auto;
  border-bottom: 1px solid #bcbcbc;
}

.add-task-mobile .projects_modal_item:last-child {
  /* padding: 1.05rem 1rem; */
  border-bottom: none;
}

.add-task-mobile input {
  outline: none;
  background-color: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  padding: 1rem 2rem;
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5rem;
  width: 100%;
}

.add-task-mobile .icon-close-mobile {
  position: absolute;
  background: url("../../images/icons/close.svg") center center no-repeat;
  background-size: cover;
  height: 2.2rem;
  width: 2.2rem;
  right: 1.5rem;
  top: 1.5rem;
  font-size: 2rem;
}

.add-task-mobile .add_task {
  margin: 0 0 1rem 0;
}

.add-task-mobile .add-task-button-mobile {
  display: block;
  width: 100%;
  padding: 1rem;
  background-color: #27ae60;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  border-radius: 0.4rem;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.add-task-mobile .add-task-button-mobile-play {
  display: inline-block;
  vertical-align: bottom;
  margin: 0 0 0 1rem;
  background: url("../../images/icons/white-arrow.svg") center center no-repeat;
  width: 1.5rem;
  height: 1.8rem;
  background-size: cover;
}

/*  end block add task mobile */

@media (min-width: 1024px) {
  .time_tracker_wrapper .ul {
    margin: 0 0 1rem 0;
    /* position: relative; */
  }

  .time_tracker_wrapper .li {
    z-index: 0;
    /* padding: 1rem 1rem; */
    padding: 1.5rem 1rem 1.5rem 1.5rem;
    font-size: 1.4rem;
    line-height: 2rem;
    transition: 0.3s linear left;
  }

  .wrapper_main_page {
    flex-direction: row;
  }

  .wrapper_main_page .li:hover {
    border-radius: 0.4rem;
    background-color: #333333;
  }

  .data_container {
    padding: 0 56px;
  }

  .add_task_container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0.6rem 1rem;
    margin: 0 0 26px 0;
    min-height: 5rem;
    font-size: 1.6rem;
  }

  .wrapper-timer-mobile {
    display: flex;
    flex-grow: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .wrapper-timer-mobile .active_project {
    margin: 0 0.5rem 0 0;
  }

  .wrapper-timer-mobile .folder {
    margin: 0 0.5rem 0 0;
  }

  .wrapper-timer-mobile .time_container {
    margin: 0 0.5rem 0 0;
    font-size: 1.6rem;
  }

  .add_task_container .add_task {
    flex-grow: 1;
    margin-right: 1rem;
  }

  .add_task_container .add_task::placeholder {
    // color: #ffffff;
    color: #e0e0e0;
    font-size: 16px;
  }

  .add_task_container .time_container {
  }

  .wrapper_main_page .li:hover .time_container_history .item_button {
    display: block;
  }

  .time_container_history {
    display: flex;
    flex-direction: row;
    color: #ffffff;
    justify-content: center;
    align-items: center;
  }

  .time_container_history .time_now {
    display: flex;
    margin: 0 1rem 0 0;
  }

  .time_container_history .timePassed {
    display: block;
    margin: 0 1rem 0 0;
    font-size: 1.4rem;
  }

  .time_tracker_wrapper {
    margin: 0 0 26px 0;
    padding: 1rem;
  }

  .time_tracker_wrapper .name_container {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    margin: 0 1rem 0 0;
  }

  .name_container .name {
    margin-right: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .name_container .project_name {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .name_container .project_name .project_name__name {
    white-space: nowrap;
  }

  .time_container_history .item_button {
    display: none;
  }

  .small_play {
    margin: 0 1rem 0 0;
  }

  .mobile-play-button-large {
    display: none;
  }

  .mobile-info-block-current-going-task {
    display: none;
  }

  .add-task-mobile {
    display: none;
  }

  .empty-block {
    display: none;
  }
}

.wrapper_main_page--mobile {
}
