@font-face {
    font-family: "Open Sans", sans-serif;
    src: url("https://fonts.googleapis.com/css?family=Open+Sans");
}

.data_container {
    position: relative;
    padding: 50px 56px 0;
    width: calc(100% - 300px);
    left: 188px;
    background-color: #333;
}

.add_task_container {
    position: fixed;
    width: calc(100% - 300px);
    top: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.add_task {
    height: 50px;
    width: calc(100% - 127px - 280px);
    outline: none;
    padding-left: 16px;
    background-color: #4f4f4f;
    border-radius: 4px;
    padding-right: 390px;
    font-size: 14px;
    border: 0;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.add_task::-webkit-input-placeholder {
    color: #e0e0e0;
}

.add_task::-moz-placeholder {
    color: #e0e0e0;
}

/* Firefox 19+ */
.add_task:-moz-placeholder {
    color: #e0e0e0;
}

/* Firefox 18- */
.add_task:-ms-input-placeholder {
    color: #e0e0e0;
}

.control_task_time_icons {
    position: absolute;
    right: 14px;
    top: 7px;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.play {
    background: url("../../images/icons/play.svg") no-repeat center;
}

.stop {
    background: url("../../images/icons/stop.svg") no-repeat center;
}

.time_container {
    position: absolute;
    top: 17px !important;
    right: 56px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    color: #ffffff;
}

.folder {
    position: absolute;
    top: 15px;
    right: 126px;
    width: 24px;
    height: 24px;
    background: url("../../images/icons/folder-symbol.svg") no-repeat center;
    cursor: pointer;
}

.folder .projects_modal_wrapper {
    position: absolute;
    top: 28px;
    left: -226px;
    width: 229px;
    height: 261px;
    padding: 12px;
    background-color: #ffffff;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.25);
}

.folder .projects_modal_wrapper .projects_modal_wrapper_search {
    padding-left: 6px;
    height: 32px;
    width: 222px;
    border: 1px solid #bdbdbd;
}

.folder
.projects_modal_wrapper
.projects_modal_wrapper_search
::-webkit-input-placeholder {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;

    color: #767676;
}

.folder
.projects_modal_wrapper
.projects_modal_wrapper_search
::-moz-placeholder {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;

    color: #767676;
}

/* Firefox 19+ */
.folder
.projects_modal_wrapper
.projects_modal_wrapper_search
:-moz-placeholder {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;

    color: #767676;
}

/* Firefox 18- */
.folder
.projects_modal_wrapper
.projects_modal_wrapper_search
:-ms-input-placeholder {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;

    color: #767676;
}

.projects_modal_item {
    display: flex;
    align-items: center;
    height: 32px;
}

.projects_modal_item_name {
    margin-left: 7px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    line-height: normal;
    font-size: 14px;
    color: #000000;
}

.projects_modal_item_circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.projects_modal_item:hover {
    background-color: #e0e0e0;
}

ul {
    list-style-type: none;
}

.wrapper_main_page .ul {
    padding-left: 0;
    padding-right: 18px;
    background-color: #4f4f4f;
}

.wrapper_main_page .li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 97%;
    outline: none;
    padding-left: 16px;
    border-radius: 4px;
    padding-right: 16px;
    color: white;
    margin-top: 10px;
    margin-left: 8px;
}

.time_now {
    display: flex;
    align-items: center;
}

.wrapper_main_page .name_container .name {
    max-width: calc(100% - 250px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.project_name {
    margin-left: 3%;
}

.time_container_history {
    display: flex;
    align-items: center;
}

.small_play {
    margin-top: -2px;
    width: 15px;
    height: 15px;
    background: url("../../images/icons/small_play.svg") no-repeat center;
    cursor: pointer;
}

.cancel {
    margin-top: -2px;
    margin-left: 18px;
    width: 15px;
    height: 15px;
    background: url("../../images/icons/cancel.svg") no-repeat center;
    cursor: pointer;
}

.edit_button {
    margin-top: -2px;
    margin-left: 18px;
    width: 15px;
    height: 15px;
    background: url("../../images/icons/baseline-create-24px.svg") no-repeat center;
    cursor: pointer;
    background-size: 20px;
}

.name_container {
    display: flex;
    align-items: center;
    width: 100vw;
}

.timePassed {
    margin-left: 14px;
}

.small_play {
    margin-left: 18px;
}

.time_tracker_wrapper {
    background-color: #4f4f4f;
}

.time_tracker_wrapper_header {
    height: 16px;
}

.time_tracker_wrapper {
    margin-top: 26px;
    padding-bottom: 12px;
}

.time_tracker_wrapper .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    padding: 0 24px;
}

.time_tracker_wrapper .header div {
    font-family: "Open Sans", sans-serif;
    line-height: normal;
    font-size: 14px;
    color: #ffffff;
}

.main_wrapper_tracker_items {
    height: 80%;
    padding-bottom: 24px;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.pink {
    background-color: pink;
}

span.circle {
    display: inline-block;
    margin-right: 2px;
    width: 8px;
    height: 8px;
    border: 1px solid white;
    border-radius: 50%;
}

.add_task_container .active_project {
    display: flex;
    align-items: center;
    position: absolute;
    top: 17px;
    right: 160px;
}

.add_task_container .active_project .projects_modal_item_circle {
    border: 1px solid white;
}

.add_task_container .active_project .projects_modal_item_name {
    color: white;
}

.folder .projects_modal_wrapper .projects_modal_data_wrapper {
    overflow-y: scroll;
    height: 230px;
}

.projects_modal_wrapper_header input {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    color: #000;
}

.time_container_history .item_button {
    display: none;
}

.wrapper_main_page .li:hover {
    background-color: #333333;
}

.wrapper_main_page .li:hover .time_container_history .item_button {
    display: block;
    background-color: #333333;
}
