.wrapper_reports_page {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: auto;

  .data_container_reports_page {
    height: 100%;
    width: 100%;
    background-color: #333333;
    padding-top: 47px;
    padding-left: 56px;
    padding-right: 56px;
  }

  .data_container_reports_page .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .data_container_reports_page .header .header_name {
    font-family: "Open Sans", sans-serif;
    line-height: normal;
    font-size: 36px;
    color: #ffffff;
  }

  .line_chart_container {
    position: relative;
    top: 110px;
    background-color: #4f4f4f;
  }

  .projects_chart_container {
    position: relative;
    top: 20%;
    border-top: 1px solid #bdbdbd;
  }

  .selects_container {
    position: relative;
  }

  .select_header {
    display: flex;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    line-height: normal;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
  }

  .select_header.users {
    font-size: 20px;
  }

  .arrow_down {
    margin-left: 24px;
    width: 24px;
    height: 24px;
    background: url("../../images/icons/arrow_down.svg") no-repeat center;
  }

  .selects_container.select_users .select_body {
    width: 100%;
  }

  .selects_container.select_users .select_users_item {
    display: flex;
    align-items: center;
    height: 24px;
    padding: 12px 12px;
    cursor: pointer;
  }

  .selects_container.select_users .select_users_item:hover {
    background: #4f4f4f;
    color: white;
  }

  .select_body {
    position: absolute;
    top: 30px;
    right: 10px;
    z-index: 3;
    background-color: #f5f5f5;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  }

  .reports_search_bar_search_field_container.select {
    width: 28%;
  }

  .total_time_container {
    position: relative;
    top: 98px;
    left: 0;
  }

  .total_time_container .total_time_name {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
    color: #bdbdbd;
  }

  .total_time_container .total_time_time {
    font-family: "Open Sans";
    font-size: 24px;
    margin-left: 11px;
    line-height: normal;
    color: #ffffff;
  }

  .export_button {
    position: absolute;
    right: 0;
    top: 10px;
    font-family: "Open Sans";
    font-size: 16px;
    margin-left: 11px;
    line-height: normal;
    color: #ffffff;
    cursor: pointer;
  }
}

.wrapper_reports_page--mobile {
  padding: 1rem;

  @media screen and (max-width: 894px) {
    .header {
      flex-wrap: wrap;
    }
    .header_name {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .selects_container {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }
    .arrow_down {
      margin-left: 0;
    }
    .select_body {
      right: auto;
    }
    .rdrDateRangePickerWrapper {
      display: flex;
      flex-wrap: wrap;
    }
    .rdrDefinedRangesWrapper {
      width: 100%;
    }
    .rdrCalendarWrapper {
      width: 100%;
    }
    .rdrMonth {
      width: 100%;
    }
  }

  .data_container_reports_page {
    padding: 0;
  }
  .wrapper_reports_search_bar {
    height: auto;
    flex-direction: column;
    padding: 10px;
  }
  .reports_search_select_wrapper {
    width: 100%;
    border-right: none;
    padding: 0;
  }
  .reports_search_bar_search_field_container.select {
    width: 100%;
    margin-bottom: 10px;
  }
  .reports_search_bar_search_field_container {
    padding-left: 0;
  }
  .reports_search_bar_button_container {
    width: auto;
  }
  .reports_search_bar_button_container button {
    padding: 10px 50px;
  }
  .total_time_container {
    margin-top: 50px;
    top: auto;
  }
  .line_chart_container {
    top: auto;
    margin-top: 10px;
  }
  .projects_chart_container {
    top: auto;
    margin-top: 35px;
  }
  .projects_container_wrapper {
    flex-wrap: wrap;
  }
  .chart {
    margin: 24px auto;
  }
}
