.wrapper-switch-language-login {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;

  &.wrapper-switch-language--block {
    position: absolute;
    font-size: 1.6rem;
    line-height: 1.9rem;
    top: 6rem;
    right: 8rem;
    display: flex;
    justify-content: flex-end;
    background-color: #3b3b3b;

    &.wrapper-switch-language--mobile {
      top: 2rem;
      right: 2rem;
    }

    .wrapper-switch-language__list {
      display: flex;
    }

    .wrapper-switch-language__list-item {
      text-transform: uppercase;
      margin: 0 1.3rem 0 0;

      &:last-child {
        margin: 0;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .wrapper-switch-language__list-item--active {
      font-weight: 700;
      text-decoration: underline;
    }
  }

  &.wrapper-switch-language--dropdown {
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 16px 0;

    .wrapper-switch-language__title {
      color: #fff;
      margin: 0 0 1rem 0;
    }

    .wrapper-switch-language__select {
      min-width: 12rem;
      position: relative;
      padding: 1.1rem 3rem 1.1rem 1.8rem;
      font-size: 1.5rem;
      line-height: 2.2rem;
      box-shadow: 0 2px 0 white;
      color: #d8d8d8;

      &:hover {
        cursor: pointer;
      }
    }

    .wrapper-switch-language__icon-arrow {
      position: absolute;
      top: 20px;
      right: 10px;
      height: 7px;
      width: 11px;
      background: url("../../images/icons/arrow-down.svg") no-repeat center;
      transition: all 0.3s;

      &_up {
        transform: rotate(-180deg);
      }
    }

    .wrapper-switch-language__list {
      position: absolute;
      z-index: 15;
      width: 100%;
      right: 0;
      top: 110%;
      background:#4f4f4f;
      box-shadow: 2px 2px 4px black;
      padding: 5px;
    }

    .wrapper-switch-language__list-item {
      padding: 5px 10px;
      color: white;

      &:hover {
        cursor: pointer;
        background-color: #e0e0e0;
        color: #333333;
      }
    }
  }
}
