.team_add {
    text-decoration: underline;
    font-weight: 700;
    font-size: 1.1em;
}

.team_add .team_add_plus {
    width: 33px;
    height: 33px;
    margin-left: 10px;
    background: url("../../images/icons/plus (1).svg") no-repeat center;
}

.team_add .team_add_plus:hover {
    background-color: #333333;
    border-radius: 50px;
}
