.project_data_wrapper {
  width: 100%;
}

.project_data_wrapper table {
  width: 100%;
}

.project_data_wrapper table, th,
.project_data_wrapper table, td {
  text-align: left;
}

.project_data_wrapper table, th {
  padding-bottom: 11px;
}

.project_data_wrapper table thead tr {
  border-bottom: 1px solid white;
}

.project_data_wrapper table tbody td {
  height: 49px;
}

.project_data_wrapper table tbody tr {
  border-bottom: 1px solid rgba(189, 189, 189, 0.11); ;
}

.project_data_wrapper table tbody tr:hover {
 background-color: #2F2F2F;
}

.project_data_wrapper table, th {
  font-family: 'Open Sans';
  line-height: normal;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: normal;
}
