.projects_container_wrapper {
    display: flex;
}

.projects_container_wrapper a {
    width: 46%;
}

.projects_container_wrapper .projects_container_projects {
    width: 100%;
}

.projects_container_wrapper .projects_container_projects .projects_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 11px;
    font-family: "Open Sans", sans-serif;
    line-height: normal;
    font-size: 16px;
    color: #ffffff;
    padding-top: 10%;
    border-bottom: 1px solid #bdbdbd;
}

.projects_container_wrapper .projects_container_project_data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    min-height: 26px;

    border-bottom: 1px solid rgba(189, 189, 189, 0.11);
}

.projects_container_wrapper .projects_container_project_data:hover {
    background-color: #4f4f4f;
}

.projects_container_project_data .name,
.projects_container_project_data .time {
    font-family: "Open Sans", sans-serif;
    line-height: normal;
    font-size: 16px;
    color: #ffffff;
}

.projects_container_project_data .name {
    max-width: calc(100% - 250px);
    line-height: 22px;
}

.projects_container_wrapper .chart {
    position: relative;
    margin-top: 24px;
    margin-left: 10%;
}

.total_time_tasks {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: normal;
    color: #FFFFFF;
    /* z-index: -1; */
}
