.forgot_password_modal_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #3b3b3b;
  padding: 2rem 2rem 2rem 2rem;
  width: 100%;
  height: 100%;
  position: relative;

  .fixed_right_corner {
    position: fixed;
    top: 0;
    right: 14px;
  }
  .page_title {
    width: 196px;
    min-height: 46px;
    background: url("../../images/icons/logo.svg") no-repeat center;
    background-size: 196px 46px;
    margin: 0 0 2rem 0;
  }
  .forgot_password_form_container{
    border-radius: 0.4rem;
    background-color: #ffffff;
    width: 100%;
    max-width: 31.3rem;
    padding: 2.2rem;
    margin: 0 0 1rem 0;
  }
  button {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    color: #ffffff;
    margin-top: 10px;
    width: 100%;
    padding: 1rem 0;
    background: #27ae60;
    border-radius: 5px;
  }
}
