.reports_by_projects_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #333333;
  padding-top: 47px;
  padding-left: 56px;
  padding-right: 56px;
  overflow-y: auto;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header .header_name {
    font-family: "Open Sans", sans-serif;
    line-height: normal;
    font-size: 2em;
    color: #ffffff;
  }

  .projects_container_wrapper .projects_container_projects .projects_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 11px;
    font-family: "Open Sans", sans-serif;
    line-height: normal;
    font-size: 16px;
    color: #ffffff;
    padding-top: 10%;
    border-bottom: 1px solid #bdbdbd;
    padding-left: 12px;
    padding-right: 12px;
  }

  .projects_header .name,
  .projects_container_project_data .name {
    width: calc(100% - 500px);
    padding-right: 25px;
  }

  .projects_header .username,
  .projects_container_project_data .username {
    width: 300px;
    text-align: left;
  }

  .projects_header .time,
  .projects_container_project_data .time {
    width: 200px;
    text-align: right;
  }

  .projects_container_project_data .name {
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 22px;
    padding-right: 25px;
  }

  .projects_container_project_data .username {
    font-family: "Open Sans", sans-serif;
    line-height: normal;
    font-size: 16px;
    color: #ffffff;
  }

  .projects_container_project_data .time {
    font-family: "Open Sans", sans-serif;
    line-height: normal;
    font-size: 16px;
    color: #ffffff;
  }

  .projects_container_wrapper .projects_container_projects {
    width: 100%;
  }
}

.reports_by_projects_wrapper--mobile {
  padding: 1rem;

  .header {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .header_name {
    display: inline-flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .header_name:not(:last-child){
    font-size: 18px;
    color: #bdbdbd;
  }
  .projects_container_project_data_container {
    font-family: "Open Sans", sans-serif;
    line-height: normal;
    font-size: 16px;
    color: #ffffff;
    border-top: 1px solid #bdbdbd;
  }
  .projects_container_project_data {
    padding: 15px 0;
    border-bottom: 1px solid rgba(189, 189, 189, 0.11);
  }
  .projects_container_project_data:last-child {
    border-bottom: none;
  }
  .reports-by-project-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }
  .reports-by-project-list:last-child {
    margin-bottom: 0;
  }
  .project-list-title {
    width: 100%;
    font-size: 14px;
    color: #bdbdbd;
    margin-bottom: 10px;
  }
}
