.reports_by_projects_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #333333;
  padding-top: 47px;
  padding-left: 56px;
  padding-right: 56px;
  overflow-y: auto;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.2rem;
    .header_name {
      font-family: "Open Sans", sans-serif;
      line-height: normal;
      font-size: 2rem;
      color: #ffffff;
      &--task {
        display: flex;
      }
      &--time {
        width: 230px;
        text-align: right;
      }
      .tasks_sum {
        margin-right: 40px;
      }
    }
  }

  .tasks_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    line-height: 22px;
    font-size: 16px;
    color: #ffffff;
    margin-top: 53px;
    .tasks_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px;
      border-bottom: 1px solid #bdbdbd;
    }
    .tasks_data_container {
      .tasks_data {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px;
        min-height: 26px;
        border-bottom: 1px solid rgba(189, 189, 189, 0.11);
      }
    }
    .name {
      width: calc(70% - 186px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .username {
      width: calc(30% - 22px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-left: 20px;
      padding-right: 10px;
    }
    .time {
      width: 208px;
      padding-right: 10px;
      text-align: right;
      white-space: nowrap;
    }
  }
}

.reports_by_projects_wrapper--mobile {
  padding: 1rem;

  .header {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    .header_name {
      display: inline-flex;
      flex-wrap: wrap;
      margin-bottom: 10px;
      &:not(:last-child) {
        font-size: 18px;
        color: #bdbdbd;
      }
    }
  }
  .tasks_data_wrap {
    height: 100%;
    margin-top: 32px;
    border-top: 1px solid #bdbdbd;
  }
  .tasks_data_container--mobile {
    font-family: "Open Sans", sans-serif;
    line-height: normal;
    font-size: 16px;
    color: #ffffff;
    .tasks_data--mobile {
      padding: 15px 0;
      border-bottom: 1px solid rgba(189, 189, 189, 0.11);
      &:last-child {
        border-bottom: none;
      }
      .reports-by-project-list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .project-list-title {
        width: 100%;
        font-size: 14px;
        color: #bdbdbd;
        margin-bottom: 10px;
      }
    }
  }

  .wrapper_reports_by_project_search_bar {
    height: auto;
    flex-direction: column;
    padding: 10px;
    .reports_by_project_search_bar_search_field_container {
      width: 100%;
      margin-bottom: 10px;
      .reports_by_project_search_select_wrapper {
        width: 100%;
        border-left: none;
        padding: 0;
      }
    }
    .select {
      padding-left: 0;
    }
    .reports_by_project_search_bar_button_container {
      width: auto;
      .reports_by_project_search_bar_button {
        padding: 10px 50px;
      }
    }
  }
}
