.input_container {
  display: flex;
  flex-direction: column;
  margin: 0 0 0.4rem 0;

  // &:first-child {
  //   margin: 0 0 0.4rem 0;
  // }

  input {
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    padding: 1.5rem;
    border: 1px solid #828282;
    outline: none;
    border-radius: 0.4rem;
    color: black;
    font-size: 1.4rem;
    line-height: 1.9rem;
  }

  .input_title {
    position: static;
    margin: 0 0 1rem 0;
    color: #333333;
    font-size: 1.4rem;
  }

  .wrapper-base-input__error-message {
    margin: 0;
    height: 1.6rem;
    color: red;
    font-size: 1.3rem !important;
    line-height: 1.6rem;
  }

  .wrapper-base-input {
    position: relative;
    width: 100%;
  }

  .wrapper-base-input__icon-eye {
    cursor: pointer;
    display: block;
    position: absolute;
    top: calc(50% - 20px);
    right: 24px;
    width: 24px;
    height: 24px;
    background: url("../../../images/icons/eye.svg") no-repeat 50%;
  }
}

.wrapper-base-input--error {
  input {
    border: 1px solid red !important;
  }
}
