.projects_list_wrapper {
  border-radius: 0.4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  top: 110%;
  left: 0;
  /* max-height: 200px; */
  width: 100%;
  margin-top: 35px;
  background: #ffffff;
  /* padding: 1rem; */
  /* box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25); */

  .projects_list_select-title {
    padding-left: 16px;
    flex-grow: 1;
    height: 47px;
    border: 1px solid #828282;
    border-radius: 4px;
    text-transform: none;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 47px;
    font-size: 16px;
    color: #4f4f4f;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
  }
  .projects-select-placeholder {
      font-size: 14px;
  }
  .projects_list_input {
    font-family: "Open Sans", sans-serif;
    outline: none;
    padding: 0.5rem;
    border: 1px solid #bdbdbd;
    margin: 0;
    width: 100%;
    margin-bottom: 10px;
  }

  .projects_list_dropdown {
    flex-grow: 1;
    // overflow: hidden;
    position: absolute;
    width: 100%;
    background: white;
    font-size: 14px;
    // min-height: 210px;
    border: 1px solid grey;
    border-radius: 4px;
    top: 110%;
    padding: 10px;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
  }
  .projects_list {
    height: 18.5rem;
    overflow: auto;
  }
  .empty-list {
    padding: 0.3rem 0.5rem;
    color: #4f4f4f;
  }
  .projects_list_item {
    display: flex;
    align-items: center;
    margin: 0 0 0.5rem 0;
    padding: 0.3rem 0.5rem;
    border-radius: 0.4rem;
    cursor: pointer;

    &:hover {
      background-color: #e0e0e0;
    }

    &:last-child {
      margin: 0;
    }
  }
  .projects-vector {
    position: absolute;
    width: 24px;
    height: 24px;
    background: url("../../images/icons/Vector.svg") no-repeat center;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
  }
  .client-remove {
    width: 30px;
    height: 30px;
    background: url("../../images/icons/close-thin.svg") no-repeat center;
    background-size: 35%;
  }
}
.projects_list_wrapper::before {
  content: attr(data-label);
  position: absolute;
  font-family: "Open Sans", sans-serif;
  color: #4f4f4f;
  font-size: 14px;
  top: -25px;
}
.projects_list_item_name {
  color: black;
}
