@font-face {
    font-family: "Open Sans", sans-serif;
    src: url("https://fonts.googleapis.com/css?family=Open+Sans");
}

.manual_time_modal_background {
    position: fixed;
    background-color: rgba(89, 89, 89, 0.5);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.manual_time_modal_container {
    width: calc(45% - 48px);
    z-index: 2;
    background: #ffffff;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 24px;
}

.manual_time_modal_container input {
    width: calc(100% - 24px);
    height: 47px;
    background: #ffffff;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87);
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.manual_time_modal_close {
    position: relative;
    left: 99%;
    top: -7px;
}

.manual_timer_modal_button_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 24px;
}

.manual_timer_modal_timepickers_container .margin_12 {
    margin-top: 12px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none;
}

input[type="time"],
.manual_time_modal_wrapper input {
    margin-top: 3px;
    padding-right: 24px;
}

.manual_time_modal_wrapper span {
    font-family: "Open Sans", sans-serif;
    line-height: normal;
    font-size: 16px;
    color: #000000;
}

.error {
    border: 1px solid red;
}

.manual_time_modal_container .project_select_edit_modal {
    position: relative;
    margin-top: 12px;
}

.manual_time_modal_container .item_select_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    margin-top: 0;
    border-radius: 4px;
    padding: 0 24px;
    cursor: pointer;
}

.manual_time_modal_container .circle {
    width: 23px;
    height: 23px;
    border-radius: 50%;
}

.manual_time_modal_container .main_circle {
    position: absolute;
    right: 50px;
    top: 50%;
}

.manual_time_modal_container .project_select_edit_modal i {
    background: url("../../images/Polygon.svg") no-repeat center;
    position: absolute;
    top: 50%;
    right: 24px;
    display: block;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-size: 16px;
}

.manual_time_modal_container .projects_list {
    position: absolute;
    max-height: 250px;
    width: calc(100% - 24px);
    background-color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
    overflow-y: scroll;
    z-index: 3;
}

.manual_time_modal_container .projects_list .item_select_wrapper:hover .issue_name,
.manual_time_modal_container .projects_list .item_select_wrapper:hover {
    background: #4f4f4f;
    color: white;
}

.create_projects_modal_data_select_container .select_list .item:hover {
    background-color: #cecece;
}

.projects_list .circle {
    width: 23px;
    height: 23px
}

.margin_top_zero {
    margin-top: 0 !important;
}

.manual_time_modal_container .projects_list .green {
    background-color: green;
}

.manual_time_modal_container .projects_list .red {
    background-color: red;
}

.manual_time_modal_container .projects_list .blue {
    background-color: blue;
}

.manual_time_modal_container .projects_list .pink {
    background-color: pink;
}

.manual_time_modal_container .date_time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 24px);
}

.manual_time_modal_container input:hover {
    border-bottom: 2px solid rgba(0, 0, 0, 0.87);
}
