@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Open+Sans")
}

.project_data_wrapper {
  width: 100%;
  height: 100%;
}

.project_data_wrapper table {
  width: 100%;
  height: 65%;
  border-spacing: inherit;
}

.project_data_wrapper table th,
.project_data_wrapper table td {
  text-align: left;
}

.project_data_wrapper table th {
  padding-bottom: 11px;
  width: 0.6%;
}

.project_data_wrapper table thead tr {
  border-bottom: 1px solid white;
}

.project_data_wrapper table tbody td {
  position: relative;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;
  color: #FFFFFF;
  width: 1.1%;
}

.project_data_wrapper table tbody tr {
  border-bottom: 1px solid rgba(189, 189, 189, 0.11); ;
}

.project_data_wrapper table tbody tr:hover {
 background-color: #2F2F2F;
}

.project_data_wrapper table th {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;
  text-align: left;
  color: #FFFFFF;
  border-bottom: 1px solid #BDBDBD;
}

.project_data_wrapper .delete {
  position: absolute;
  top: 12px;
  left: 90%;
  width: 24px;
  height: 24px;
  background: url("../../images/icons/waste-bin.svg") no-repeat center;
  cursor: pointer;
}

.project_data_wrapper table thead,
.project_data_wrapper table  tbody
{
  display:block;
}

.project_data_wrapper table  tbody
{
  overflow-y: scroll;
  height:100%;
  width: 100%;
}

.create_projects_modal_data_select_container .select_list .item:hover {
  background-color: #CECECE;
}

.create_projects_modal_data .green {
  background-color: green;
}

.create_projects_modal_data .red {
  background-color: red;
}

.create_projects_modal_data .blue {
  background-color: blue;
}

.create_projects_modal_data .pink {
  background-color: pink;
}
