.wrapper-spinner {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .wobbly-logo-icon {
    width: 125px;
    height: 30px;
    margin-bottom: 5px;
  }

  .spinner-icon {
    width: 25px;
    height: 25px;
  }
}
