.first-day-week-format {
  width: 50%;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;

  &__title {
    font-weight: 600;
    color: #C9C9C9;
    margin-bottom: 3px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    cursor: default;
  }

  .first-day-week-format_select {
    min-width: 12rem;
    position: relative;
    padding: 1.1rem 3rem 1.1rem 1.8rem;
    border-radius: 0.4rem;
    background: #4f4f4f;
    font-size: 1.5rem;
    line-height: 2.2rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    color: #d8d8d8;

    &:hover {
      cursor: pointer;
    }
  }

  .first-day-week-format__list {
    position: absolute;
    z-index: 15;
    width: 100%;
    right: 0;
    top: 110%;
    background:#4f4f4f;
    box-shadow: 2px 2px 4px black;
    padding: 5px;
  }

  .first-day-week-format__list-item {
    padding: 5px 10px;
    color: white;

    &:hover {
      cursor: pointer;
      background-color: #e0e0e0;
      color: #333333;
    }
  }

  .first-day-week-format__icon-arrow {
    position: absolute;
    top: 18px;
    right: 10px;
    height: 7px;
    width: 11px;
    background: url("../../images/icons/arrow-down.svg") no-repeat center;
    transition: all 0.3s;

    &_up {
      transform: rotate(-180deg);
    }
  }
}
