.detailed-invoice-projects-table {
  margin-bottom: 26px;

  &__input {
    width: 100%;
    color: #ffffff;
    -webkit-text-fill-color: #ffffff;
    opacity: 1;
    background: #3f3f3f;
    border-radius: 3px;
    padding: 10px 8px;
    border: none;
    line-height: 30px;
    word-wrap: initial;

    &::placeholder {
      color: #ffffff;
    }
    &::-webkit-input-placeholder {
      line-height: normal !important;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &--disabled {
      background: none;
    }
    &--empty {
      border: 1px solid #d84e4e;
      border-radius: 4px;
    }
  }

  &__textarea {
    width: 100%;
    min-height: 50px;
    resize: none;
    color: #ffffff;
    -webkit-text-fill-color: #ffffff;
    opacity: 1;
    background: #3f3f3f;
    border-radius: 3px;
    padding: 15px 10px 10px;
    border: none;
    line-height: 20px;
    word-wrap: initial;
    overflow: hidden;

    &::placeholder {
      color: #ffffff;
      line-height: 20px;
    }
    &::-webkit-input-placeholder {
      line-height: 20px !important;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &--disabled {
      background: none;
    }
    &--empty {
      border: 1px solid #d84e4e;
      border-radius: 4px;
    }
  }

  &--empty {
    border: 1px solid #d84e4e;
    border-radius: 4px;
  }

  &__icon-button {
    width: 20px;
    height: 20px;
    cursor: pointer;
    path {
      stroke: white;
    }
    &:hover path {
      stroke: #27ae60;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    height: 50px;
    background: #292929;
    font-weight: bold;
    margin-bottom: 3px;
    border-radius: 3px;
  }

  &__project-column {
    width: 49%;
    & > span {
      padding: 10px 0 10px 10px;
    }
  }
  &__tax-column {
    width: 10%;
    height: 50px;
    display: flex;
    padding-left: 5px;
    line-height: 30px;
    & > span {
      padding: 10px 0 10px 8px;
    }
  }
  &__rate-column {
    width: 10%;
    height: 50px;
    display: flex;
    padding-left: 5px;
    line-height: 30px;
    & > span {
      padding: 10px 0 10px 8px;
    }
  }
  &__amount-column {
    width: 10%;
    height: 50px;
    display: flex;
    padding-left: 5px;
    line-height: 30px;
    & > span {
      padding: 10px 0 10px 8px;
    }
  }
  &__subtotal-column {    
    width: 14%;
    height: 50px;
    display: flex;
    padding: 10px 0 10px 5px;
    line-height: 30px;
    & > span {
      padding-left: 3px;
      
    }
  }
  &__subtotal-column span:first-child{
    padding-left: 0;
    
  }
  &__subtotal-column span:last-child{
    word-break: break-all;
    white-space: nowrap;
    
  }
  &__tools-column {
    width: 7%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    svg path{
      stroke: white;
    }
  }

  &__row {
    position: relative;
    display: flex;
    margin: 0;
  }
}
@media screen and (max-width: 520px) {
  .detailed-invoice-projects-table {
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 10px;
    font-size: 14px;
    &__header {
      display: inline-flex;
    }
    &__project-column {
      width: 110px;
      min-width: 110px;
      input{
        width:100px;
      }
    }
    &__tax-column {
      width: 105px;
      input{
        width: 80px;
      }
    }
    &__rate-column {
      width: 100px;
      input{
        width: 80px;
      }
    }
    &__amount-column {
      width: 90px;
      input{
        width: 80px;
      }
      & > span {
        padding-left: 0;
      }
    }
    &__subtotal-column {
      display: flex;
      width: 120px;
      padding-left: 5px;
      span{
        width: 100%;
      }
    }

    &__tools-column {
      display: flex;
      justify-content: space-between;
      align-items: center;
      svg {
        height: 15px;
      }
    }
    .detailed-invoice-projects-table__subtotal-column{
      span:first-child{
        width: fit-content;
      }
    }
    .detailed-invoice-projects-table__subtotal-column{
      span:last-child{
        width: 200px;
      }
    }
  }
  
}
